.customerWrap {
  .customerTitle {
    text-align: left;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .clientCode {
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  // :global {
  //   .ant-form-item {
  //     margin-bottom: 0;
  //   }
  // }
}

