.content {
  display: flex;
  background-color: #ffffff;
  .title {
    width: 200px;
    text-align: center;
    color: #17181a;
    font-size: 14px;
    margin-bottom: 20px;
  }
}
.pie {
  width: 355px;
  height: 300px;
  margin-right: 10px;
  margin-left: 5px;
}

.extra {
  color: #8d9099;
}
