<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.margin.persistence.mapper.MarginBaseInfoMapper">
    <update id="updateStatus">
        UPDATE margin_base_info SET  contract_is_settle=1 WHERE contract_id = #{id}
    </update>

    <select id="pageList" resultType="cn.zswltech.mithras.margin.persistence.model.MarginBaseInfo">
        select a.*
        from margin_base_info a,contract_base_info b
        <where>
            a.contract_id = b.id
            <if test="dto.clientId!=null">and a.client_id = #{dto.clientId}</if>
            <if test="dto.contractCode!=null">and a.contract_code LIKE concat('%', #{dto.contractCode},'%')</if>
            <if test="dto.amountFrom!=null">and a.collection_amount <![CDATA[ >= ]]> #{dto.amountFrom}</if>
            <if test="dto.amountTo!=null">and a.collection_amount <![CDATA[ <= ]]> #{dto.amountTo}</if>
            <if test="dto.collectionDateFrom!=null">and a.collection_date <![CDATA[ >= ]]> #{dto.collectionDateFrom}</if>
            <if test="dto.collectionDateTo!=null">and a.collection_date <![CDATA[ <= ]]> #{dto.collectionDateTo}</if>
            <include refid="cn.zswltech.mithras.foundation.persistence.mapper.CommonMapper.authSql" />
        </where>
        order by a.create_time desc
    </select>

    <select id="getMargins" resultType="cn.zswltech.mithras.margin.persistence.model.DepositCollectRefund">
        select b.contract_id as contractId, a.record_type as recordType,
               sum(a.collection_amount) as amount from margin_record_info a
           left join margin_base_info b on a.margin_id = b.id
        where a.record_type in ('COLLECTION','REFUND')
        <if test="contractIds!=null and contractIds.size()>0">
            and b.contract_id in
            <foreach collection="contractIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        group by a.record_type,b.contract_id;
    </select>
</mapper>
