<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.budget.infrastructure.persistence.mapper.BudgetPlanPayDetailExpenseMapper">
    <select id="listExpenseGroupByDetail" resultType="cn.zswltech.mithras.budget.infrastructure.persistence.mapper.dto.BudgetPlanPayDetailExpenseGroupDTO">
        select
            budget_plan_pay_detail_id as budgetPlanPayDetailId,
            sum(ifnull(stamp_tax,0) + ifnull(additional_tax,0)) as taxSum,
            sum(ifnull(risk_fund_diff,0)) as riskFundDiffSum,
            sum(ifnull(assessment_profit,0)) as assessmentProfitSum,
            sum(ifnull(expense,0)) as expenseSum
        from budget_plan_pay_detail_expense
        where 1 = 1 and deleted = 0
        <if test="budgetPlanPayDetailIds != null and budgetPlanPayDetailIds.size() > 0">
            and budget_plan_pay_detail_id in
            <foreach collection="budgetPlanPayDetailIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="startDate != null">
            and expense_date &gt;= #{startDate}
        </if>
        <if test="endDate != null">
            and expense_date &lt;= #{endDate}
        </if>
        group by budget_plan_pay_detail_id
    </select>
</mapper>