.creditInfoContainer {
  background: #fff;
  border-radius: 8px;
}
.titleWithLine {
  margin-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
}
.titleWithLine .ant-typography {
  margin-bottom: 8px;
}
.middleTable {
  margin: 24px 0;
}
