.wrap {
  .titleWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ecedf0;
    padding-bottom: 16px;
    margin-bottom: 16px;
    .title {
      font-family: PingFangSC-Medium;
      font-size: 16px;
      color: #26272a;
      line-height: 24px;
      font-weight: 500;
    }
    .btnWrap {
      display: flex;
      align-items: center;
    }
  }
  .handoverWrap {
    background: #ffffff;
    border: 1px solid #e2e3e6;
    box-shadow: 0 2px 0 0 rgba(229, 229, 229, 0.5);
    border-radius: 4px;
    padding: 32px;
    margin-bottom: 24px;
    .transfer {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  :global {
    .ant-table-expanded-row {
      .ant-table-wrapper {
        border-top: 0px;
        margin-bottom: 0;
      }
    }
    .ant-pagination {
      display: none;
    }
  }
}
