<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.budget.BudgetPlanCostDetailProjectMapper">
    <select id="selectGroupByYearMonth" resultType="cn.zswltech.mithras.service.mapper.dto.BudgetPlanCostDetailProjectGroupMonthDTO">
        select
            year as year,
            month as month,
            sum(ifnull(rent,0)) as rentSum,
            sum(ifnull(principal,0)) as principalSum,
            sum(ifnull(interest,0)) as interestSum,
            sum(ifnull(deposit,0)) as depositSum,
            sum(ifnull(consulting_fee,0)) as consultingFeeSum,
            sum(ifnull(pay_amount,0)) as payAmountSum
        from budget_plan_cost_detail_project
        where deleted = 0
          and budget_plan_cost_id = #{budgetPlanCostId}
          and data_category = #{dataCategory}
        group by year,month
    </select>
</mapper>