.beautyTable {
  :global {
    .ant-table-tbody {
      tr > {
        td:nth-child(9) {
          color: #bcbdc0;
        }
      }
      tr:nth-child(2) {
        td:not(:first-child) {
          // color: #bcbdc0;
        }
      }
    }
  }
}
