.titleWrap {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 12px 0;
  .btnWrap {
    display: flex;
    align-items: center;
  }
  :global {
    .ant-btn {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
