.projectWrap {
  background-color: #fff;
  margin-top: 16px;
  padding: 16px;
  .title {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #26272a;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .subTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 16px;
    .total {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #58595c;
      text-align: left;
      line-height: 22px;
      font-weight: 400;
    }
  }
}
