.header {
  .headerDesc {
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #666666;
    margin-left: 10px;
  }
}

.renderValue {
  position: relative;
  width: 220px;
  white-space: wrap;

  .iconDesc {
    position: absolute;
    // margin-left: 5px;
    right: -3px;
    top: 0px;
  }
}