.yts {
  width: 64px;
  height: 22px;
  text-align: center;
  border-radius: 2px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  background: #e6f7ff;
  border: 1px solid #91d5ff;
  border-radius: 2px 0px 0px 0px;
  color: #1890ff;
}

.yfk {
  width: 64px;
  height: 22px;
  text-align: center;
  border-radius: 2px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  background: #ecf1ff;
  border: 1px solid #b7c9fe;
  color: #396cfa;
}

.sptg {
  width: 64px;
  height: 22px;
  text-align: center;
  border-radius: 2px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  background: #f6ffed;
  border: 1px solid #b7eb8f;
  color: #52c41a;
}
.wts {
  width: 64px;
  height: 22px;
  text-align: center;
  border-radius: 2px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  background: #fafafa;
  border: 1px solid #d9d9d9;
}

.spth {
  width: 64px;
  height: 22px;
  text-align: center;
  border-radius: 2px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  color: #f5222d;

  background: #fff1f0;
  border: 1px solid #ffa39e;
}
