.modalContent {
  :global {
    .ant-descriptions {
      margin-bottom: 24px;
    }

    .ant-table-wrapper {
      margin-top: 24px;
    }
  }
}

.cashFlowTable {
  margin-top: 16px;

  :global {
    .ant-table-thead > tr > th {
      background-color: #f5f5f5;
      font-weight: 500;
    }

    .ant-table-tbody > tr > td {
      font-family: monospace; // 使用等宽字体以便数字对齐
    }
  }
}

.incomeTable {
  margin-top: 16px;

  :global {
    .ant-table-thead > tr > th {
      background-color: #f5f5f5;
      font-weight: 500;
      text-align: center;
      padding: 8px;
    }

    .ant-table-tbody > tr > td {
      font-family: monospace; // 使用等宽字体以便数字对齐
      padding: 8px;
    }

    .ant-table-cell-fix-left {
      background-color: #fff;
    }
  }
}
