.wrap {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-bottom: 12px;
  img {
    width: 80px;
    margin-bottom: 4px;
  }
  .text {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #8a8b8e;
    line-height: 22px;
    font-weight: 400;
  }
}
