.cardWrap {
  display: flex;
  gap: 20px;
  .cardItem {
    width: calc(50% - 10px);
  }
}
.more {
  color: #53555b;
  cursor: pointer;
}

.legend {
  .legendBar {
    justify-content: flex-end;
    display: flex;
    .group {
      margin-right: 10px;
      display: flex;
      align-items: center;
      .color {
        width: 10px;
        height: 10px;
        margin-right: 5px;
        background-color: #000;
      }
    }
  }
}
