.collapse {
  :global {
    .ant-collapse-header {
      background-color: #f5f6fa;
      border-left: 3px solid #2658e6;
    }
    .ant-collapse-content-box {
      padding: 0 !important;
    }
  }
  .expandIcon {
    display: flex !important;
    align-items: center;
    gap: 8px;
    color: #2658e6;
  }
  .expandPanel {
    background-color: #fff;
    margin-top: 10px;
  }
}
