.itemLabel {
  // font-family: PingFangSC-Medium;
  font-size: 14px;

  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
}
.icon {
  display: flex;
  align-items: center;
  color: #2558e6;
  font-size: 16px;
  height: 32px;
  list-style: 32px;
  margin-left: 5px;
  cursor: pointer;
}
