<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.third.xinsight.mapper.XinsightWarnMonitorMapper">

    <resultMap id="BaseResultMap" type="cn.zswltech.mithras.third.xinsight.model.XinsightWarnMonitor">
        <result column="tmStamp" property="tmStamp" />
        <result column="client_id" property="clientId" />
        <result column="warn_code" property="warnCode" />
        <result column="title" property="title" />
        <result column="credit_code" property="creditCode" />
        <result column="data_time" property="dataTime" />
        <result column="link_address" property="linkAddress" />
        <result column="warn_level" property="warnLevel" />
        <result column="warn_level_cn" property="warnLevelCn" />
        <result column="notice_time" property="noticeTime" />
        <result column="risk_type" property="riskType" />
        <result column="isdel" property="isDel" />
    </resultMap>

    <select id="selectByTmStamp" resultMap="BaseResultMap">
        SELECT
            tmStamp,
            client_id,
            warn_code,
            title,
            credit_code,
            data_time,
            link_address,
            warn_level,
            warn_level_cn,
            notice_time,
            risk_type,
            isdel
        FROM risk_control_warn_monitor
        WHERE tmStamp > #{lastMaxId}
        AND isdel != '1'
        ORDER BY tmStamp ASC
    </select>

</mapper>
