.page {
  .title {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .titleWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
  .subTitle {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    font-weight: 400;
    position: relative;
    padding-left: 8px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 3px;
      height: 12px;
      background-color: #2558e6;
      margin-right: 4px;
    }
  }
}
.tag {
  background: #e8f8f2;
  line-height: 24px;
  border-radius: 3px;
  padding: 2px 8px;
  color: #00a870;
  margin-left: 10px;
}

.tip {
  background: rgba(24, 144, 255, 0.15);
  border-radius: 2px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  .title {
    display: flex;
    align-items: center;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    text-align: justify;
    line-height: 22px;
    font-weight: 400;
    .icon {
      font-size: 20px;
      color: #2656f0;
      margin-right: 10px;
    }
  }
}
