<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.customer.infrastructure.persistence.mapper.lib.client.CorpAddressInfoLibMapper">


    <select id="listNewestAddress" resultType="java.lang.Long">
        select client_id from (
        select a.client_id, a.province, a.address_type
        from corp_address_info_lib a
        left join client b on a.client_id = b.id and a.version = b.newest_version
        where version_type = 1
        and b.newest_version is not null
        <!-- 这里用order by 让办公地址放在前面 -->
        order by client_id, address_type DESC
        ) x
        <where>
            <if test="dto.inProvince != null and dto.inProvince.size() > 0">
                AND x.province IN
                <foreach collection="dto.inProvince" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="dto.notInProvince != null and dto.notInProvince.size() > 0">
                AND x.province NOT IN
                <foreach collection="dto.notInProvince" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            group by client_id
        </where>
    </select>

    <select id="listNewestAddressByClientId"
            resultType="cn.zswltech.mithras.customer.infrastructure.persistence.mapper.model.client.CorpAddressInfoLib">
        select client_id,province from (
        select a.client_id, a.province, a.address_type
        from corp_address_info_lib a
        left join client b on a.client_id = b.id and a.version = b.newest_version
        where version_type = 1
        and b.newest_version is not null
        <!-- 这里用order by 让办公地址放在前面 -->
        order by client_id, address_type DESC
        ) x
        <where>
            x.province IS NOT NULL
            <if test="clientIds != null and clientIds.size() > 0">
                AND x.client_id IN
                <foreach collection="clientIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by client_id
    </select>

    <select id="listAddressByClientIdAndType" resultType="cn.zswltech.mithras.customer.infrastructure.persistence.mapper.model.client.CorpAddressInfoLib">
        SELECT p.*
        FROM corp_address_info_lib p
        INNER JOIN (SELECT main_id AS id, MAX(version) AS version
        FROM common_version t1
        WHERE t1.module = 'CLIENT'
        AND t1.version_type = 1
        GROUP BY main_id) m ON p.client_id = m.id AND p.version = m.version
        <where>
            p.province IS NOT NULL
            <if test="clientIds!=null and clientIds.size()>0">
                AND p.client_id IN
                <foreach collection="clientIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="corpAddressType!=null">
                and p.address_type = #{corpAddressType}
            </if>
        </where>
    </select>

    <select id="listNewestCorpAddress"
            resultType="cn.zswltech.mithras.customer.infrastructure.persistence.mapper.model.client.CorpAddressInfoLib">
        SELECT p.*
        FROM corp_address_info_lib p
                 INNER JOIN (SELECT main_id AS id, MAX(version) AS version
                             FROM common_version t1
                             WHERE t1.module = 'CLIENT'
                               AND t1.version_type = 1
                             GROUP BY main_id) m ON p.client_id = m.id AND p.version = m.version
        <where>
            <if test="dto.inProvince!=null and dto.inProvince.size()>0">
                AND p.province IN
                <foreach collection="dto.inProvince" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="dto.notInProvince!=null and dto.notInProvince.size()>0">
                AND p.province NOT IN
                <foreach collection="dto.notInProvince" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>