<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.customer.mapper.normal.NormalBaseInfoMapper">

    <select id="availableSpouseList" resultType="cn.zswltech.mithras.customer.mapper.model.client.NormalBaseInfo">
        select a.*, b.client_name
        from normal_base_info a, client b
        <where>
            a.client_id = b.id
            <if test="gender!=null and gender!=''">and a.gender=#{gender}</if>
            <if test="selfClientId!=null">and a.client_id != #{selfClientId}</if>
            <if test="fuzzyName!=null and fuzzyName!=''">and b.client_name like concat('%',#{fuzzyName},'%')</if>
            <if test="spouseCertNumberList!=null and spouseCertNumberList.size()>0">
                and b.cert_number not IN
                <foreach collection="spouseCertNumberList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>

    </select>
</mapper>
