<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.report.mapper.draft.CrAccountDraftMapper">

    <update id="updateReportFlag">
        UPDATE cr_account_draft SET report_flag_init = report_flag
        WHERE report_flag_init != report_flag
        AND proc_business_key = #{procBusinessKey}
    </update>
</mapper>