.tooltipTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap {
  :global {
    .ant-table-cell-ellipsis {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06) !important;
    }
  }
}
