<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.policy.persistence.mapper.PolicyInfoMapper">

    <select id="myList" resultType="cn.zswltech.mithras.policy.persistence.projection.PolicyListProjection">
        select a.id,a.policy_code policyCode,a.proj_id projId,b.proj_name projName,b.client_id clientId,
        a.insurance_start_date insuranceStartDate,a.insurance_end_date insuranceEndDate,
        a.insurance_company insuranceCompany,b.proj_sponsor_user_id projSponsorUserId,
        b.proj_cosponsor_user_ids projCosponsorUserIds,a.approval_status approvalStatus,
        a.create_time createTime,a.update_time updateTime
        from policy_info a,proj_review_base_info b
        <where>
            a.proj_id = b.id
            <if test="req.clientId!=null">and b.client_id = #{req.clientId}</if>
            <if test="req.insuranceCompany!=null">and a.insurance_company LIKE concat('%', #{req.insuranceCompany},'%')</if>
            <if test="req.projName!=null">and b.proj_name LIKE concat('%', #{req.projName},'%')</if>
            <if test="req.policyCode!=null">and a.policy_code LIKE concat('%', #{req.policyCode},'%')</if>
            <if test="req.insuranceStartDateFrom!=null">and a.insurance_start_date <![CDATA[ >= ]]> #{req.insuranceStartDateFrom}</if>
            <if test="req.insuranceStartDateTo!=null">and a.insurance_start_date <![CDATA[ <= ]]> #{req.insuranceStartDateTo}</if>
            <if test="req.insuranceEndDateFrom!=null">and a.insurance_end_date <![CDATA[ >= ]]> #{req.insuranceEndDateFrom}</if>
            <if test="req.insuranceEndDateTo!=null">and a.insurance_end_date <![CDATA[ <= ]]> #{req.insuranceEndDateTo}</if>
            <if test="req.projSponsorUserId!=null">and b.proj_sponsor_user_id = #{req.projSponsorUserId}</if>
            <if test="req.approvalStatus!=null">and a.approval_status = #{req.approvalStatus}</if>
            <if test="req.projCosponsorUserId!=null">
                and json_contains(b.proj_cosponsor_user_ids, CONVERT(#{req.projCosponsorUserId},CHAR))
            </if>
        </where>
        order by a.update_time desc
    </select>

    <select id="nearPolicyEndTimeList" resultType="cn.zswltech.mithras.policy.persistence.projection.NearPolicyEndTimeProjection">
        select projId, max(insuranceEndDate) maxDate
        from (select a.id,
                     a.policy_code             policyCode,
                     a.proj_id                 projId,
                     b.proj_name               projName,
                     b.client_id               clientId,
                     a.insurance_start_date    insuranceStartDate,
                     a.insurance_end_date      insuranceEndDate,
                     a.insurance_company       insuranceCompany,
                     b.proj_sponsor_user_id    projSponsorUserId,
                     b.proj_cosponsor_user_ids projCosponsorUserIds,
                     a.approval_status         approvalStatus,
                     'policy' as               dataSource,
                     a.create_time             createTime,
                     a.update_time             updateTime
              from policy_info a,
                   proj_review_base_info b
              where a.proj_id = b.id
                and a.approval_status not in ("NEW_UNDER_APPROVAL", "CHANGING_UNDER_APPROVAL")
              union all
              select a.id,
                     a.policy_code             policyCode,
                     b.id                      projId,
                     b.proj_name               projName,
                     b.client_id               clientId,
                     a.insurance_start_date    insuranceStartDate,
                     a.insurance_end_date      insuranceEndDate,
                     a.insurance_company       insuranceCompany,
                     b.proj_sponsor_user_id    projSponsorUserId,
                     b.proj_cosponsor_user_ids projCosponsorUserIds,
                     d.payment_process_status  approvalStatus,
                     'payment' as              dataSource,
                     a.create_time             createTime,
                     d.update_time             updateTime
              from payment_policy_info a,
                   payment_base_info d,
                   contract_base_info c,
                   proj_review_base_info b
              where a.payment_id = d.id
                and d.contract_id = c.id
                and c.proj_review_id = b.id
             ) tmp
        group by projId
        having maxDate <![CDATA[ <= ]]> #{minTime}
    </select>

    <select id="paymentMaxTimeList" resultType="cn.zswltech.mithras.policy.persistence.projection.PaymentPolicyEndTimeProjection">
        select b.id projId,MAX(a.insurance_end_date) maxDate,d.payment_code
        from payment_policy_info a,payment_base_info d,contract_base_info c,proj_review_base_info b
        <where>
            a.payment_id = d.id and d.contract_id = c.id and c.proj_review_id = b.id
            <if test="ids != null and ids.size() > 0">
                AND b.id IN
                <foreach collection="ids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by b.id,d.payment_code
    </select>


    <update id="updateNotice">
        update policy_info set notice_flag = #{code}
        where id IN
        <foreach collection="ids" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <select id="listPaymentNeedRenewInsurance" resultType="cn.zswltech.mithras.policy.persistence.projection.PolicyListProjection">
        SELECT p.id id,
               p.contract_id,
               p.contract_code,
               p.id payment_id,
               c.client_id,
               c.proj_name,
               c.proj_sponsor_user_id,
               'payment' as dataSource,
               c.proj_cosponsor_user_ids
        FROM payment_base_info p left join contract_base_info c on c.id = p.contract_id
        <where>
            p.policy_flag = 2 and p.payment_status = 'TAKE_EFFECT'
            AND p.id NOT IN (SELECT payment_id FROM policy_info WHERE `level` = 0)
            <if test="ids != null and ids.size() > 0">
                AND p.id IN
                <foreach collection="ids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="contractCode != null">
                and p.contract_code like CONCAT('%',#{contractCode},'%')
            </if>
            <if test="contractStatus != null">
                and c.contract_status != #{contractStatus}
            </if>
        </where>
    </select>
</mapper>
