.container {
  margin-top: 24px;
  :global {
    .ant-form-item-label {
      display: block;
      width: 100%;
      max-width: 100%;
      > label {
        width: 100%;
        display: inline-block;
      }
    }
  }
  .action {
    border: 1px solid rgba(102, 102, 102, 0.3);
    padding: 6px;
    min-height: 98px;
  }
}
