.departmentSelector {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 16px;

  .statusRow {
    margin-bottom: 8px;
  }

  .headerRow {
    color: #666;
    margin-bottom: 8px;
  }

  .confirmed {
    color: #009f68;
  }

  .pending {
    color: #fe8836;
  }

  .text {
    padding: 8px;
    line-height: 16px;
    text-align: center;
    background-color: #f5f5f5;
  }
  .departmentCell {
    .text();
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;

    &:hover {
      background: #f5f5f5;
    }

    &.active {
      background: #e6f7ff;
    }
  }

  .statusWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  .statusIcon {
    width: 16px;
    height: 16px;
  }

  .departmentName {
    text-align: center;
    cursor: pointer;
    padding: 8px;
    border-bottom: 2px solid transparent;
    color: rgba(0, 0, 0, 0.85);

    &:hover {
      color: #40a9ff;
      border-bottom-color: #40a9ff;
    }

    &.active {
      color: #096dd9;
      border-bottom-color: #096dd9;
    }
  }

  .departmentRow {
    display: flex;
    flex: 1;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 4px;
      height: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 2px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.05);
    }
    .departmentCol {
      min-width: 150px;
      flex: 1;
    }
  }
}

.statisticCard {
  flex: 1;
  background: #fff;
  margin-bottom: 16px;
  padding: 16px 13px;
  border-radius: 4px;
  border: 1px solid #e2e3e6;

  .title {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
  }
  .unit {
    font-size: 12px;
    margin-left: 4px;
  }
  .value {
    color: #262626;
    white-space: nowrap;
    font-size: 20px;
  }
}
