.page {
  :global {
    .z-page {
      background-color: #f0f2f5;
    }
    .z-page-body {
      padding-left: 0;
      padding-top: 0 !important;
    }
  }
}
.baseInfo {
  background-color: #fff;
  padding: 10px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.actionPanel {
  margin-top: 16px;
  background-color: #fff;
  padding: 10px 20px;
  .content {
    .dynamicDesc {
      margin-bottom: 20px;
    }
    .fileWrap {
      margin-top: 20px;
    }
    .title {
      margin-bottom: 20px;
    }
    .subTitle {
      font-size: 14px;
    }
  }
}
