<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.fund.persistence.mapper.lib.receiptrepay.FundReceiptRepayCashFlowLibMapper">


    <select id="newestCashFlowLib"
            resultType="cn.zswltech.mithras.fund.persistence.model.receiptrepay.FundReceiptRepayCashFlowLib">

        SELECT p.*
        FROM fund_receipt_repay_cash_flow_lib p
                 INNER JOIN (SELECT main_id AS id, MAX(version) AS version
                             FROM common_version t1
                             WHERE t1.module = 'FUND_RECEIPT_REPAY'
                               AND t1.version_type = 1
                             GROUP BY main_id) m ON p.receipt_repay_id = m.id AND p.version = m.version
        WHERE p.repay_date &gt;= #{repayDateFrom}
          AND p.repay_date &lt;= #{repayDateTo}
    </select>
</mapper>