<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.fund.mapper.FundFinancingCollectRecordMapper">

    <resultMap id="BaseResultMap" type="cn.zswltech.mithras.fund.model.FundFinancingCollectRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="cashFlowItem" column="cash_flow_item" jdbcType="VARCHAR"/>
            <result property="collectionAmount" column="collection_amount" jdbcType="BIGINT"/>
            <result property="collectionDate" column="collection_date" jdbcType="TIMESTAMP"/>
            <result property="financeFlowId" column="finance_flow_id" jdbcType="BIGINT"/>
            <result property="bankDetailNo" column="bank_detail_no" jdbcType="BIGINT"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,cash_flow_item,collection_amount,
        collection_date,finance_flow_id,bank_detail_no,
        create_by,update_by,create_time,
        update_time,deleted
    </sql>
</mapper>
