<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.fund.mapper.lib.financing.FundFinancingPledgeInfoLibMapper">

    <select id="queryLastestVersionLibIdList" resultType="java.lang.Long">
        SELECT p.id FROM fund_financing_pledge_info_lib p
        INNER JOIN (SELECT main_id AS financing_id, MAX(version) AS version FROM common_version t1
        WHERE t1.module = 'FUND_FINANCING' AND version_type = 1
        GROUP BY main_id) m ON p.financing_id = m.financing_id AND p.version = m.version
        WHERE 1 = 1
        <if test="financingIdList!=null and financingIdList.size()>0">
            AND p.financing_id IN
            <foreach collection="financingIdList" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="getLastestByContractId"
            resultType="cn.zswltech.mithras.fund.mapper.model.financing.FundFinancingPledgeInfoLib">

        SELECT p.*
        FROM fund_financing_pledge_info_lib p
                 INNER JOIN (SELECT main_id AS financing_id, MAX(version) AS version
                             FROM common_version t1
                             WHERE t1.module = 'FUND_FINANCING'
                               AND version_type = 1
                             GROUP BY main_id) m ON p.financing_id = m.financing_id AND p.version = m.version
        WHERE contract_id = #{contractId}
    </select>

</mapper>
