.wrap {
  border-radius: 10px;
  background-color: #fff;
  .header {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ecedf0;
    padding-right: 15px;
    &_title {
      position: relative;
      padding-left: 15px;
      font-size: 14px;
      color: #17181a;
      font-weight: bold;
      font-family: PingFangSC-Medium;
      &::before {
        position: absolute;
        left: 0;
        top: 5px;
        content: '';
        width: 3px;
        height: 12px;
        background-color: #2558e6;
      }
    }
    &.innerModule {
      border: none;
      padding-bottom: 0;
      .header_title {
        &::before {
          display: none;
        }
      }
    }
    .updateTime {
      color: #8d9099;
      font-size: 14px;
    }
  }
  .content {
    padding: 20px;
  }
}

.empty {
  padding: 20px;
}
