.upload-modal {
  max-height: 700;
  overflow-y: 'auto';
  :global {
    .ant-upload-list {
      margin-top: 12px;
    }
    .ant-upload-list-picture-card-container {
      width: 60px;
      height: 60px;
      .ant-upload-list-item {
        padding: 0px;
      }
    }
  }
}

.modalWrap {
  position: relative;
}
