<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.document.mapper.FileAuthenticationConfigMapper">

    <resultMap id="BaseResultMap" type="cn.zswltech.mithras.document.model.FileAuthenticationConfig">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="fileType" column="file_type" jdbcType="VARCHAR"/>
            <result property="ownerType" column="owner_type" jdbcType="TINYINT"/>
            <result property="ownerPost" column="owner_post" jdbcType="VARCHAR"/>
            <result property="ownerId" column="owner_id" jdbcType="BIGINT"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_name,file_type,
        owner_type,owner_post,owner_id,
        create_by,update_by,create_time,
        update_time
    </sql>
</mapper>
