.DS_Store
node_modules
.idea
.admin
yarn-error.log
local.config.js
package-lock.json
.VSCodeCounter
dist
bundle_dist*
mithras-react*
*.zip
.vscode*
react-charts
node_cache
.VSCodeCounter
.cursorrules
yarn.lock
.cursorignore
.eslintcache
.vscode/*