//引入,部分window电脑兼容性，不使用了
// @font-face {
//   font-family: 'DINAlternate-Bold';
//   src: url('../../../../public/DIN Alternate Bold.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

.page {
  background: rgba(240, 241, 243);
  :global {
    .z-page-body {
      padding: 0;
      box-sizing: border-box;
      background: #f0f2f5;
    }
    .ant-table-wrapper,
    .z-table-wrapper {
      border: 0 !important;
    }
  }
}
