.search {
  display: flex;
  justify-content: flex-end;
  margin: 0px 20px 10px 0px;

  span:first-child {
    display: flex;
    align-items: center;
  }

  .header_extra {
    display: flex;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}

.row {
  width: calc(33.3% - 15px);
  min-width: 180px;
  box-sizing: border-box;
}