.customWrap {
  margin-bottom: 5px;
  .customIcon {
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      background-color: #b82c22;
      position: absolute;
      left: 0;
      top: 14px;
      border-radius: 50%;
    }
  }
  .customTitle {
    font-weight: bold;
  }
}
