.control {
  display: flex;
  align-items: center;
  .item {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #2558e6;
    // line-height: 40px;
    font-weight: 400;
    margin: 0 6px;
    cursor: pointer;
  }
}
.btnWrap {
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-end;
}
