<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.payment.mapper.PaymentBaseInfoMapper">

    <select id="myList" resultType="cn.zswltech.mithras.payment.model.PaymentBaseInfo">
        select a.*, b.biz_dept_id as biz_dept_id
        from payment_base_info a,contract_base_info b
        <where>
            a.contract_id = b.id
            <if test="dto.clientId!=null">and a.client_id=#{dto.clientId}</if>
            <if test="dto.contractId!=null">and a.contract_id=#{dto.contractId}</if>
            <if test="dto.contractCode!=null and dto.contractCode!=''">and a.contract_code like
                CONCAT('%',#{dto.contractCode},'%')
            </if>
            <if test="dto.writeOffStatus!=null">and a.write_off_status=#{dto.writeOffStatus}</if>
            <if test="dto.paymentProcessStatus!=null">and a.payment_process_status=#{dto.paymentProcessStatus}</if>
            <if test="dto.paymentStatus!=null">
                and a.payment_status = #{dto.paymentStatus}
            </if>
            <if test="dto.paymentStatusList!=null">
                and a.payment_status in
                <foreach collection="dto.paymentStatusList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="dto.applyPaymentAmountFrom!=null">and a.apply_payment_amount&gt;=#{dto.applyPaymentAmountFrom}
            </if>
            <if test="dto.applyPaymentAmountTo!=null">and a.apply_payment_amount&lt;=#{dto.applyPaymentAmountTo}</if>
            <if test="dto.applyPaymentDateFrom!=null">and a.apply_payment_date &gt;= #{dto.applyPaymentDateFrom}</if>
            <if test="dto.applyPaymentDateTo!=null">and a.apply_payment_date &lt;= #{dto.applyPaymentDateTo}</if>
            <if test="dto.paidInDateFrom!=null">and a.paid_in_date &gt;= #{dto.paidInDateFrom}</if>
            <if test="dto.paidInDateTo!=null">and a.paid_in_date &lt;= #{dto.paidInDateTo}</if>
            <if test="dto.bizDeptId!=null">
                and b.biz_dept_id = #{dto.bizDeptId}
            </if>
            <include refid="cn.zswltech.mithras.foundation.persistence.mapper.CommonMapper.authSql" />
        </where>
        ORDER BY
        <choose>
            <when test="dto.orderFieldName != null and dto.orderFieldName != ''">
                a.${dto.orderFieldName}
                <if test="dto.order != null and dto.order != ''">
                    ${dto.order}
                </if>
            </when>
            <otherwise>
                a.create_time desc
            </otherwise>
        </choose>
    </select>
    <update id="updateFinanceStatusByCode">
        update payment_base_info set financial_status = 1 where
            payment_code in
        <foreach collection="codes" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <select id="paymentFlowList" resultType="cn.zswltech.mithras.dto.collection.CollectionFlowCenterBusinessPaymentListRSP">
        select a.payment_id,
        a.contract_id,
        a.write_off_status,
        CASE a.write_off_status
        WHEN 'NO_PAID' THEN 10
        WHEN 'TO_BE_WRITE_OFF' THEN 40
        WHEN 'PART_WRITTEN_OFF' THEN 20
        WHEN 'WRITTEN_OFF' THEN 30
        ELSE 50 END as sort,
        a.client_id, a.contract_code, a.cash_flow_item, a.biz_dept_id,a.payment_amount,
        a.paid_amount,
        a.apply_payment_date, a.paid_in_date, a.payment_code, a.proj_name
        from (select a.id as payment_id,
        a.contract_id,
        case
        WHEN a.apply_payment_date > now() THEN
        'NO_PAID'
        ELSE 'TO_BE_WRITE_OFF'
        END AS write_off_status,
        a.client_id, a.contract_code, "CREDIT_PAYMENT" as cash_flow_item, b.biz_dept_id,a.apply_payment_amount as payment_amount,
        (select sum(paid_in_amount) from payment_actual_detail where write_off_status = 'WRITTEN_OFF' and payment_id = a.id) as paid_amount,
        a.apply_payment_date, a.paid_in_date, a.payment_code, b.proj_name
        from payment_base_info a,contract_base_info b
        where a.contract_id = b.id
        and a.payment_status in ('TAKE_EFFECT', 'FINISHED')
        and a.write_off_status in ('NO_PAID', 'TO_BE_WRITE_OFF')
        UNION ALL
        select a.id as payment_id,
        a.contract_id,
        a.write_off_status,
        a.client_id, a.contract_code, "CREDIT_PAYMENT" as cash_flow_item, b.biz_dept_id,a.apply_payment_amount as payment_amount,
        (select sum(paid_in_amount) from payment_actual_detail where write_off_status = 'WRITTEN_OFF' and payment_id = a.id) as paid_amount,
        a.apply_payment_date, a.paid_in_date, a.payment_code, b.proj_name
        from payment_base_info a,contract_base_info b
        where a.contract_id = b.id
        and a.payment_status in ('TAKE_EFFECT', 'FINISHED')
        and a.write_off_status in ('PART_WRITTEN_OFF', 'WRITTEN_OFF')) a
        <where>
            1=1
            <if test="dto.applyPaymentDateFrom!=null">and a.apply_payment_date >= #{dto.applyPaymentDateFrom}</if>
            <if test="dto.applyPaymentDateTo!=null">and #{dto.applyPaymentDateTo} >= a.apply_payment_date</if>
            <if test="dto.clientId!=null">and a.client_id=#{dto.clientId}</if>
            <if test="dto.writeOffStatusList!=null" >
                and a.write_off_status in
                <foreach collection="dto.writeOffStatusList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="dto.contractCode!=null and dto.contractCode!=''">
            and a.contract_code like CONCAT('%',#{dto.contractCode},'%')
            </if>
            <if test="dto.cashFlowItem!=null and dto.cashFlowItem!='CREDIT_PAYMENT'">
              and a.payment_id is null
            </if>
            <if test="dto.bizDeptId!=null">and a.biz_dept_id=#{dto.bizDeptId}</if>
        </where>
        UNION ALL
        select a.payment_id,
        a.contract_id,
        a.write_off_status,
        CASE a.write_off_status
        WHEN 'NO_PAID' THEN 10
        WHEN 'TO_BE_WRITE_OFF' THEN 40
        WHEN 'PART_WRITTEN_OFF' THEN 20
        WHEN 'WRITTEN_OFF' THEN 30
        ELSE 50 END as sort,
        a.client_id, a.contract_code, a.cash_flow_item, a.biz_dept_id,a.payment_amount,
        a.paid_amount,a.apply_payment_date,a.paid_in_date, a.payment_code, a.proj_name
        from (
        select a.id as payment_id,a.contract_id,
        'WRITTEN_OFF' as write_off_status,
        a.client_id, a.contract_code, "EARNEST_MONEY" as cash_flow_item, b.biz_dept_id,a.plan_margin_amount as payment_amount,
        (IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0)) as paid_amount,(select max(cash_flow_date) from contract_rent_actual where contract_id = b.id) as apply_payment_date,(select max(collection_date) from margin_record_info where margin_id = a.id and record_type in ('REFUND_MARGIN', 'REFUND_MARGIN_DEDUCT', 'REFUND')) as paid_in_date, a.margin_code as payment_code, b.proj_name
        from margin_base_info a,contract_base_info b
        where
        a.contract_id = b.id and (IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0)) = IFNULL(a.plan_margin_amount, 0)
        UNION ALL
        select a.id as payment_id,a.contract_id,
        'PART_WRITTEN_OFF' as write_off_status,
        a.client_id, a.contract_code, "EARNEST_MONEY" as cash_flow_item, b.biz_dept_id,a.plan_margin_amount as payment_amount,
        (IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0)) as paid_amount,(select max(cash_flow_date) from contract_rent_actual where contract_id = b.id) as apply_payment_date,(select max(collection_date) from margin_record_info where margin_id = a.id and record_type in ('REFUND_MARGIN', 'REFUND_MARGIN_DEDUCT', 'REFUND')) as paid_in_date, a.margin_code as payment_code, b.proj_name
        from margin_base_info a,contract_base_info b
        where
        a.contract_id = b.id and (IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0)) BETWEEN 1 and IFNULL(a.plan_margin_amount -1, 2)
        UNION ALL
        select a.id as payment_id,a.contract_id,
        'TO_BE_WRITE_OFF' as write_off_status,
        a.client_id, a.contract_code, "EARNEST_MONEY" as cash_flow_item, b.biz_dept_id,a.plan_margin_amount as payment_amount,
        (IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0)) as paid_amount,(select max(cash_flow_date) from contract_rent_actual where contract_id = b.id) as apply_payment_date,(select max(collection_date) from margin_record_info where margin_id = a.id and record_type in ('REFUND_MARGIN', 'REFUND_MARGIN_DEDUCT', 'REFUND')) as paid_in_date, a.margin_code as payment_code, b.proj_name
        from margin_base_info a,contract_base_info b
        where
        a.contract_id = b.id and 0 >= (IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0))
        and (select max(cash_flow_date) from contract_rent_actual where contract_id = b.id) > NOW()
        UNION ALL
        select a.id as payment_id,a.contract_id,
        'NO_PAID' as write_off_status,
        a.client_id, a.contract_code, "EARNEST_MONEY" as cash_flow_item, b.biz_dept_id,a.plan_margin_amount as payment_amount,
        (IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0)) as paid_amount,(select max(cash_flow_date) from contract_rent_actual where contract_id = b.id) as apply_payment_date,(select max(collection_date) from margin_record_info where margin_id = a.id and record_type in ('REFUND_MARGIN', 'REFUND_MARGIN_DEDUCT', 'REFUND')) as paid_in_date, a.margin_code as payment_code, b.proj_name
        from margin_base_info a,contract_base_info b
        where
        a.contract_id = b.id and 0 >=(IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0))
        and NOW() > (select max(cash_flow_date) from contract_rent_actual where contract_id = b.id)) a
        <where>
             1=1
            <if test="dto.applyPaymentDateFrom!=null">
            and a.apply_payment_date >= #{dto.applyPaymentDateFrom}
            </if>
            <if test="dto.applyPaymentDateTo!=null">
                and  #{dto.applyPaymentDateTo} >= a.apply_payment_date
            </if>
            <if test="dto.clientId!=null">and a.client_id=#{dto.clientId}</if>
            <if test="dto.contractCode!=null and dto.contractCode!=''">and a.contract_code like
                CONCAT('%',#{dto.contractCode},'%')
            </if>
            <if test="dto.writeOffStatusList!=null" >
                and a.write_off_status in
                <foreach collection="dto.writeOffStatusList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="dto.bizDeptId!=null">and a.biz_dept_id = #{dto.bizDeptId}</if>
            <if test="dto.cashFlowItem!=null">
               and a.cash_flow_item = #{dto.cashFlowItem}
            </if>
        </where>
        /*质保金*/
        UNION ALL
        select a.payment_id,
        a.contract_id,
        a.write_off_status,
        CASE a.write_off_status
        WHEN 'NO_PAID' THEN 10
        WHEN 'TO_BE_WRITE_OFF' THEN 40
        WHEN 'PART_WRITTEN_OFF' THEN 20
        WHEN 'WRITTEN_OFF' THEN 30
        ELSE 50 END as sort,
        a.client_id, a.contract_code, a.cash_flow_item, a.biz_dept_id,a.payment_amount,
        a.paid_amount,a.apply_payment_date,a.paid_in_date, a.payment_code, a.proj_name
        from (
        select a.id as payment_id,a.contract_id,
        'WRITTEN_OFF' as write_off_status,
        a.client_id, a.contract_code, "RETENTION_MONEY" as cash_flow_item, b.biz_dept_id,a.plan_warranty_amount as payment_amount,
        (IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0)) as paid_amount,a.plan_warranty_date as apply_payment_date,(select max(collection_date) from warranty_record_info where warranty_id = a.id and record_type in ('REFUND_MARGIN', 'REFUND_MARGIN_DEDUCT', 'REFUND')) as paid_in_date, a.warranty_code as payment_code, b.proj_name
        from warranty_base_info a,contract_base_info b
        where
        a.contract_id = b.id and (IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0)) = IFNULL(a.plan_warranty_amount, 0)
        UNION ALL
        select a.id as payment_id,a.contract_id,
        'PART_WRITTEN_OFF' as write_off_status,
        a.client_id, a.contract_code, "RETENTION_MONEY" as cash_flow_item, b.biz_dept_id,a.plan_warranty_amount as payment_amount,
        (IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0)) as paid_amount,a.plan_warranty_date as apply_payment_date,(select max(collection_date) from warranty_record_info where warranty_id = a.id and record_type in ('REFUND_WARRANTY', 'REFUND_WARRANTY_DEDUCT', 'REFUND')) as paid_in_date, a.warranty_code as payment_code, b.proj_name
        from warranty_base_info a,contract_base_info b
        where
        a.contract_id = b.id and (IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0)) BETWEEN 1 and IFNULL(a.plan_warranty_amount -1, 2)
        UNION ALL
        select a.id as payment_id,a.contract_id,
        'TO_BE_WRITE_OFF' as write_off_status,
        a.client_id, a.contract_code, "RETENTION_MONEY" as cash_flow_item, b.biz_dept_id,a.plan_warranty_amount as payment_amount,
        (IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0)) as paid_amount,a.plan_warranty_date as apply_payment_date,(select max(collection_date) from warranty_record_info where warranty_id = a.id and record_type in ('REFUND_WARRANTY', 'REFUND_WARRANTY_DEDUCT', 'REFUND')) as paid_in_date, a.warranty_code as payment_code, b.proj_name
        from warranty_base_info a,contract_base_info b
        where
        a.contract_id = b.id and 0 >= (IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0))
        and a.plan_warranty_date > NOW()
        UNION ALL
        select a.id as payment_id,a.contract_id,
        'NO_PAID' as write_off_status,
        a.client_id, a.contract_code, "RETENTION_MONEY" as cash_flow_item, b.biz_dept_id,a.plan_warranty_amount as payment_amount,
        (IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0)) as paid_amount,a.plan_warranty_date as apply_payment_date,(select max(collection_date) from warranty_record_info where warranty_id = a.id and record_type in ('REFUND_WARRANTY', 'REFUND_WARRANTY_DEDUCT', 'REFUND')) as paid_in_date, a.warranty_code as payment_code, b.proj_name
        from warranty_base_info a,contract_base_info b
        where
        a.contract_id = b.id and 0 >=(IFNULL(a.back_amount,0)+IFNULL(a.deduct_amount,0))
        and NOW() > a.plan_warranty_date) a
        <where>
            1=1
            <if test="dto.applyPaymentDateFrom!=null">
                and a.apply_payment_date >= #{dto.applyPaymentDateFrom}
            </if>
            <if test="dto.applyPaymentDateTo!=null">
                and  #{dto.applyPaymentDateTo} >= a.apply_payment_date
            </if>
            <if test="dto.clientId!=null">and a.client_id=#{dto.clientId}</if>
            <if test="dto.contractCode!=null and dto.contractCode!=''">and a.contract_code like
                CONCAT('%',#{dto.contractCode},'%')
            </if>
            <if test="dto.writeOffStatusList!=null" >
                and a.write_off_status in
                <foreach collection="dto.writeOffStatusList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="dto.bizDeptId!=null">and a.biz_dept_id = #{dto.bizDeptId}</if>
            <if test="dto.cashFlowItem!=null">
                and a.cash_flow_item = #{dto.cashFlowItem}
            </if>
        </where>
        order by sort asc, apply_payment_date desc
    </select>

    <!-- 查询审批通过的付款申请列表 -->
    <select id="queryListWithContractId" resultType="cn.zswltech.mithras.payment.model.PaymentBaseInfo">
        select t.*
        from payment_base_info t
        left join ACT_HI_PROCINST t1 on t.id = t1.BUSINESS_KEY_
        left JOIN ACT_RE_PROCDEF t2 ON t1.PROC_DEF_ID_ = t2.ID_
        where 1=1
        <if test="contractId != null">
            and t.contract_id = #{contractId}
        </if>
        and t2.KEY_ = 'PaymentCreateFlow'
        and t.payment_process_status = 'APPROVAL_PASS'
        order by t1.END_TIME_ desc
    </select>
</mapper>
