.icon {
  font-size: 24px;
  margin-right: 5px;
}
.title {
  color: #17181a;
  font-size: 14px;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.wrap2 {
  display: flex;
  align-items: center;
}
.unit {
  font-size: 14px;
  color: #8d9099;
}
