.componyWrap {
  display: flex;
  background-color: #e7faf9;
  padding: 22px 0;
  cursor: pointer;
  .item {
    flex: 1;
    text-align: center;
    border-right: 1px solid #dedfe2;
    &:last-child {
      border: 0;
    }
    .num {
      font-weight: bold;
      font-size: 18px;
    }
    .label {
      color: #53555b;
    }
  }
}

.title {
  color: #17181a;
  font-size: 14px;
  margin-bottom: 5px;
}
