.box {
  height: 100%;
  // background-image: url('/public/assets/risk/customerView/bg.png');
  // background-size: 100% 100%;
  // background-repeat: no-repeat;
  // overflow: hidden;
  :global(.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab) {
    padding: 8px 16px;
  }
  padding: 24px;
}

.warning-input {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 60, 60, 1);
  background-color: #fff5f5;
  border: 1px solid rgba(255, 60, 60, 0.2);
}
.waring-input-yellow {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffa83d;
  background: #ffa83d1a;
  border: 1px solid rgba(255, 168, 61, 0.2);
}
