<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.kpi.mapper.EclExecuteRecordMapper">

    <select id="getLastList" resultType="cn.zswltech.mithras.kpi.mapper.model.EclExecuteRecord">
        select * from ecl_execute_record e
        inner join (select max(kpi_provision_detail_id) as kpi_provision_detail_id, receipt_code from ecl_execute_record group by receipt_code) l on e.receipt_code = l.receipt_code and e.kpi_provision_detail_id =
        l.kpi_provision_detail_id
        <where>
            receipt_id is not null
            <if test="contractCodes != null and contractCodes.size() > 0">
                and e.contract_code in
                <foreach collection="contractCodes" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>


</mapper>
