<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.kpi.mapper.PerformanceBaseInfoMapper">

    <resultMap id="BaseResultMap" type="cn.zswltech.mithras.kpi.model.PerformanceBaseInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="year" column="year" jdbcType="BIGINT"/>
            <result property="month" column="month" jdbcType="INTEGER"/>
            <result property="belongDeptId" column="belong_dept_id" jdbcType="BIGINT"/>
            <result property="businessUserId" column="business_user_id" jdbcType="BIGINT"/>
            <result property="businessType" column="business_type" jdbcType="VARCHAR"/>
            <result property="belongType" column="belong_type" jdbcType="VARCHAR"/>
            <result property="assetBalanceTarget" column="asset_balance_target" jdbcType="BIGINT"/>
            <result property="revenueTarget" column="revenue_target" jdbcType="BIGINT"/>
            <result property="profitTarget" column="profit_target" jdbcType="BIGINT"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="belongDeptName" column="belong_dept_name" jdbcType="VARCHAR"/>
            <result property="consultingFeeIncome" column="consulting_fee_income" jdbcType="BIGINT"/>
            <result property="interestIncome" column="interest_income" jdbcType="BIGINT"/>
            <result property="bizFee" column="biz_fee" jdbcType="BIGINT"/>
            <result property="businessTripFee" column="business_trip_fee" jdbcType="BIGINT"/>
            <result property="businessServeFee" column="business_serve_fee" jdbcType="BIGINT"/>
            <result  property="beforeProfitTarget" column="before_profit_target" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,year,month,
        belong_dept_id,business_user_id,business_type,
        belong_type,asset_balance_target,revenue_target,
        profit_target,deleted,create_by,
        create_time,update_by,update_time
    </sql>
</mapper>
