<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.flow.FlowQueryExtraMapper">
    <select id="selectMissingFlow"
            resultType="cn.zswltech.mithras.service.mapper.flow.model.FlowQueryExtraMissing">
        select a.ID_ process_instance_id, b.KEY_ model_key, a.BUSINESS_KEY_ business_key
        from act_hi_procinst a
        join act_re_procdef b ON a.PROC_DEF_ID_ = b.ID_
        where a.ID_ NOT IN (select instance_id from flow_query_extra)
        and b.KEY_ IN
        <foreach collection="flowKeys" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>
