.completeOperationtable {
  margin-top: 10px;
  :global(.ant-table-wrapper) {
    width: 100% !important;
  }

  :global(.ant-table table) {
    width: 100% !important;
    min-width: auto !important;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
