
.des {
    :global {
      .ant-descriptions-item-label {
        width: 176px;
      }
      .ant-descriptions-item-content {
        width: 350px;
        max-width: 350px;
      }
      .ant-descriptions-view {
        border-top: 1px solid #2558e6;
      }
      .ant-form-item {
        margin: 0 !important;
      }
    }
}