.customerWrap {
  .customerTitle {
    text-align: left;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .clientCode {
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.control {
  display: flex;
  align-items: center;

  .item {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #2558e6;
    font-weight: 400;
    margin: 0 6px;
    cursor: pointer;
  }
}
