
  .des {
    :global {
      // .ant-row {
      //   width: 400px !important;
      // }
      .ant-col-20,
      input,
      .ant-input-number-wrapper {
        max-width: 450px !important;
        min-width: 300px !important;
      }
      .ant-input-number-wrapper, 
      .ant-form-item-control-input-content {
        margin: 4px 0 !important;
      }
      .ant-form-item-label {
        display: flex;
        align-items: center;
      }
    }
    :global {
      .ant-descriptions-item-label {
        width: 176px;
      }
      .ant-descriptions-item-content {
        // padding: 0 !important;
        width: 350px;
        max-width: 350px;
      }
      .ant-descriptions-view {
        border-top: 1px solid #2558e6;
      }
      .ant-form-item {
        margin: 0;
      }
    }
  }
  .icon {
    display: flex;
    align-items: center;
    color: #2558e6;
    font-size: 16px;
    height: 32px;
    list-style: 32px;
    margin-left: 5px;
    cursor: pointer;
  }
  :global {
    .ant-row {
      margin-bottom: 0;
    }
    .ant-input-number {
      width: 100%;
    }
  }
  .add {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #2558e6;
    text-align: center;
    line-height: 32px;
    font-weight: 400;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .noWrap {
    display: flex;
    flex-wrap: nowrap;
  }
.formTitle {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.detailTitle {
  font-size: 14px;
  font-weight: 600;
  margin: 8px 8px 8px 0;
}
.padding5 {
  padding: 4px 0;
  box-sizing: border-box;
}
.item {
  margin: 8px 0;
}