<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.archives.infrastructure.persistence.mapper.ArchiveTemplateMapper">

    <select id="pageList" resultType="cn.zswltech.mithras.archives.infrastructure.persistence.model.ArchiveTemplate">
        select *
        from archive_template
        <where>
            <if test="req.templateName!=null">and template_name LIKE concat('%', #{req.templateName},'%')</if>
            <if test="req.bizType!=null">and FIND_IN_SET(#{req.bizType},template_type) </if>
            <if test="req.status!=null">and status = #{req.status}</if>
            <if test="req.createTimeFrom!=null">and create_time <![CDATA[ >= ]]> #{req.createTimeFrom}</if>
            <if test="req.createTimeTo!=null">and create_time <![CDATA[ <= ]]> #{req.createTimeTo}</if>
            <if test="req.updateTimeFrom!=null">and update_time <![CDATA[ >= ]]> #{req.updateTimeFrom}</if>
            <if test="req.updateTimeTo!=null">and update_time <![CDATA[ <= ]]> #{req.updateTimeTo}</if>
        </where>
        order by update_time desc
    </select>
    <select id="flatTemplate" resultType="cn.zswltech.mithras.service.mapper.dto.ArchivesFlatTempalteDTO">
        select
        c.belong_id archiveId,
        a.id typeId,
        b.template_id templateId,
        b.id groupId,
        b.group_name groupName,
        a.type_name typeName,
        c.id fileId,
        b.sort,
        c.filename fileName
        from (select * from materials_list where business_type = "ARCHIVES") c left join archive_file_type a
        on c.materials_type = CAST(a.id AS CHAR)
        left join archive_type_group b
        on a.group_id = b.id
        <where>
            <if test="fileType!=null">and (b.group_name LIKE concat('%', #{fileType},'%') or a.type_name LIKE concat('%', #{fileType},'%'))</if>
            <if test="templateIds!=null">and b.template_id in
                <foreach collection="templateIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach></if>
        </where>
    </select>

    <select id="archiveFileList" resultType="cn.zswltech.mithras.service.mapper.dto.ArchivesFlatTempalteDTO">
        select
        c.belong_id archiveId,
        a.id typeId,
        b.template_id templateId,
        b.id groupId,
        b.group_name groupName,
        a.type_name typeName,
        c.id fileId,
        b.sort,
        c.filename fileName,
        c.create_by uploadUser,
        c.create_time uploadTime
        from (select * from materials_list where business_type = "ARCHIVES" and belong_id = #{archiveId}) c left join archive_file_type a
        on c.materials_type = CAST(a.id AS CHAR)
        left join archive_type_group b
        on a.group_id = b.id
        <where>
            <if test="content!=null">and (b.group_name LIKE concat('%', #{content},'%') or a.type_name LIKE concat('%', #{content},'%') or c.filename LIKE concat('%', #{content},'%'))</if>
            <if test="groupName!=null">and b.group_name = #{groupName}</if>
        </where>
        order by b.sort,a.sort asc
    </select>

    <select id="mustFileCount" resultType="cn.zswltech.mithras.service.mapper.dto.ArchivesMastFileCountDTO">
        select
        c.belong_id archiveId,
        count(distinct a.id) count
        from (select * from materials_list where business_type = "ARCHIVES") c left join archive_file_type a
        on c.materials_type = CAST(a.id AS CHAR)
        <where>
        a.need = 1
            <if test="archiveIds!=null">and c.belong_id in
                <foreach collection="archiveIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach></if>
        </where>
        group by c.belong_id
    </select>

    <select id="mustFileTypeCount" resultType="cn.zswltech.mithras.service.mapper.dto.ArchivesMastFileTypeCountDTO">
        select
        b.template_id templateId,
        count(a.id) count
        from  archive_file_type a
        left join archive_type_group b
        on a.group_id = b.id
        <where>
            a.need = 1
            <if test="templateIds!=null">and b.template_id in
                <foreach collection="templateIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach></if>
        </where>
        group by b.template_id
    </select>

    <select id="noFileTypes" resultType="cn.zswltech.mithras.archives.infrastructure.persistence.model.ArchiveFileType">
       select a.type_name typeName,a.id
       from (select * from archive_file_type where need = 1 and group_id in (select id from archive_type_group where template_id = #{templateId})) a
       left join (select * from materials_list where business_type = "ARCHIVES" and belong_id = #{archiveId}) c
       on c.materials_type = CAST(a.id AS CHAR)
       where c.id is null
    </select>

</mapper>
