<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.archives.persistence.mapper.ArchiveTemplateMapper">

    <select id="pageList" resultType="cn.zswltech.mithras.archives.persistence.model.ArchiveTemplate">
        select *
        from archive_template
        <where>
            <if test="req.templateName!=null">and template_name LIKE concat('%', #{req.templateName},'%')</if>
            <if test="req.bizType!=null">and FIND_IN_SET(#{req.bizType},template_type) </if>
            <if test="req.status!=null">and status = #{req.status}</if>
            <if test="req.createTimeFrom!=null">and create_time <![CDATA[ >= ]]> #{req.createTimeFrom}</if>
            <if test="req.createTimeTo!=null">and create_time <![CDATA[ <= ]]> #{req.createTimeTo}</if>
            <if test="req.updateTimeFrom!=null">and update_time <![CDATA[ >= ]]> #{req.updateTimeFrom}</if>
            <if test="req.updateTimeTo!=null">and update_time <![CDATA[ <= ]]> #{req.updateTimeTo}</if>
        </where>
        order by update_time desc
    </select>
    <select id="mustFileTypeCount" resultType="cn.zswltech.mithras.archives.persistence.projection.ArchivesMustFileTypeCountProjection">
        select
        b.template_id templateId,
        count(a.id) count
        from  archive_file_type a
        left join archive_type_group b
        on a.group_id = b.id
        <where>
            a.need = 1
            <if test="templateIds!=null">and b.template_id in
                <foreach collection="templateIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach></if>
        </where>
        group by b.template_id
    </select>

</mapper>
