<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.archives.infrastructure.persistence.mapper.ArchivesDownloadPermissionMapper">
    <insert id="insertList">
        insert into archives_download_permission(materials_id,user_id,status,reason_id,expires,batch)
        values
        <foreach collection="permissions" open="" close="" item="item" separator=",">
            (#{item.materialsId},#{item.userId},#{item.status},#{item.reasonId},#{item.expires},#{item.batch})
        </foreach>
    </insert>

</mapper>
