<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.monthly.MonthlyManagementRpRecordMapper">

    <resultMap id="BaseResultMap" type="cn.zswltech.mithras.service.mapper.model.monthly.MonthlyManagementRpRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="mainId" column="main_id" jdbcType="BIGINT"/>
            <result property="receiptId" column="receipt_id" jdbcType="BIGINT"/>
            <result property="receiptCode" column="receipt_code" jdbcType="VARCHAR"/>
            <result property="contractId" column="contract_id" jdbcType="BIGINT"/>
            <result property="projName" column="proj_name" jdbcType="VARCHAR"/>
            <result property="contractCode" column="contract_code" jdbcType="VARCHAR"/>
            <result property="clientName" column="client_name" jdbcType="VARCHAR"/>
            <result property="leaseType" column="lease_type" jdbcType="VARCHAR"/>
            <result property="bizType" column="biz_type" jdbcType="VARCHAR"/>
            <result property="taxRate" column="tax_rate" jdbcType="INTEGER"/>
            <result property="incomeSum" column="income_sum" jdbcType="BIGINT"/>
            <result property="incomeWithoutTaxSum" column="income_without_tax_sum" jdbcType="BIGINT"/>
            <result property="overdueType" column="overdue_type" jdbcType="VARCHAR"/>
            <result property="actualLeaseDate" column="actual_lease_date" jdbcType="TIMESTAMP"/>
            <result property="theLatestFullRefundRentPeriod" column="the_latest_full_refund_rent_period" jdbcType="INTEGER"/>
            <result property="theLatestFullRefundRentDate" column="the_latest_full_refund_rent_date" jdbcType="TIMESTAMP"/>
            <result property="theLatestFullRefundRentCapital" column="the_latest_full_refund_rent_capital" jdbcType="BIGINT"/>
            <result property="contractNominalInterestRate" column="contract_nominal_interest_rate" jdbcType="INTEGER"/>
            <result property="isEffect" column="is_effect" jdbcType="TINYINT"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,main_id,receipt_id,
        receipt_code,contract_id,proj_name,
        contract_code,client_name,lease_type,
        biz_type,tax_rate,income_sum,
        income_without_tax_sum,overdue_type,actual_lease_date,
        the_latest_full_refund_rent_period,the_latest_full_refund_rent_date,the_latest_full_refund_rent_capital,
        contract_nominal_interest_rate,is_effect,deleted,
        create_by,create_time,update_by,
        update_time
    </sql>
</mapper>
