.wrap {
  display: flex;
  align-items: center;
  background-color: #eef0f3;
  padding: 10px 0 10px 0;
  .icon {
    font-size: 20px;
  }
  .title {
    margin-left: 6px;
    font-size: 16px;
    color: #17181a;
    font-weight: bold;
  }
}
