.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  .item {
    width: calc(50% - 10px);
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.extra {
  color: #8d9099;
}
