.pages {
  .headerAction {
    margin-bottom: 10px;
    .headerSpace {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      :global {
        .ant-form-item {
          margin-bottom: 0;
        }
      }
    }
  }
  .titleWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  .subTitle {
    width: 250px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    font-weight: 400;
    position: relative;
    padding-left: 8px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 3px;
      height: 12px;
      background-color: #2558e6;
      margin-right: 4px;
    }
  }
}
.btnWrap {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
  }
}
