.title {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}
.radio-button {
  margin: 16px 0;
}

.mrb16 {
  margin-bottom: 16px;
}
.wrap {
  padding: 12px;
  :global {
    .titleNoColor .ant-table-thead > tr > th {
      background: #fff;
    }
  }
}
