.desc {
  :global {
    .ant-form-item {
      margin: 0;
    }
  }
}
.addInput {
  display: inline-block !important;
  margin-right: 20px !important;

}
.add {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #2558e6;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  padding-left: 0px;
  padding-right: 0px;
}
.remove {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #2558e6;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  margin-left: 7px;

}