.wrap {
  background-color: #fff;
  margin-bottom: 20px;
  &_header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_r {
      // font-size: 32px;
    }
    &_l {
      display: flex;
      align-items: center;
      &_img {
        width: 120px;
        margin-right: 10px;
        > img {
          width: 100%;
        }
      }
      &_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
        &_title {
          font-family: PingFangSC-Medium;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.85);
          line-height: 24px;
          font-weight: 500;
        }
        &_subTitle {
          font-family: SFPro-Regular;
          font-size: 14px;
          color: #8a8b8e;
          line-height: 22px;
          font-weight: 400;
        }
        &_row {
          display: flex;
          &_info {
            display: flex;
            &_label,
            &_value {
              display: inline-block;
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #58595c;
              line-height: 22px;
              font-weight: 400;
            }
            &_label {
              width: 85px;
            }
            &_stylelabel {
              width: 70px;
            }
            &_value,
            &_stylevalue {
              width: 70px;
              word-break: keep-all;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            &_stylevalue {
              width: 100px;
            }
          }
        }
      }
    }
  }
  .tab {
  }
}
