.top {
  // height: 316px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  background: linear-gradient(181.36deg, #deebff 3.2%, #f1f7ff 9.55%, #ffffff 44.32%);
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(4px);
  .haders {
    height: 54px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #e8e8e8;
  }
  .contentView {
    padding: 10px;
    .warning-input {
      font-family: Helvetica;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: rgba(255, 60, 60, 1);
      background-color: #fff5f5;
      border: 1px solid rgba(255, 60, 60, 0.2);
    }
    .waring-input-yellow {
      font-family: Helvetica;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #ffa83d;
      background: #ffa83d1a;
      border: 1px solid rgba(255, 168, 61, 0.2);
    }
  }
}
