.title {
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 24px;
  font-weight: 500;
}
.wrap {
  margin-bottom: 12px;
  :global {
    .ant-descriptions-header {
      margin-bottom: 0;
    }
    .ant-collapse-header {
      background-color: #f5f6fa;
      border-left: 0;
    }
    .ant-collapse-content {
      border: 0;
    }
    .ant-collapse-content-box {
      padding: 16px !important;
    }
  }

  .desc-list {
    margin-top: 12px;
  }
}
