.Operator {
  height: 100%;
  overflow-y: auto;
  :global(.ant-select-multiple .ant-select-selection-placeholder) {
    text-align: left;
  }
}
.formList {
  margin-bottom: 24px;
  :global {
    .ant-form-item {
      margin-bottom: 5px;
    }
  }
}

.creditWithdrawalFormItem {
  :global {
    .ant-form-item-label > label {
      height: auto;
      line-height: 1.5;
      white-space: normal;
      word-break: break-word;
    }
  }
}
