.wrap {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    img {
      margin-bottom: 12px;
    }
    .text {
      font-size: 14px;
    }
  }
}
