.wrap {
  width: 228px;
  height: 148px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  .header {
    display: flex;
    justify-content: space-between;
    .title {
      color: #17181a;
      font-weight: 500;
    }
  }
  .row {
    display: flex;
    margin-top: 10px;
    color: #5e6066;
    font-size: 14px;
    width: 100%;
    &_value {
      display: flex;
    }
  }
}
.loading {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
