<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.afterlease.mapper.NewAfterLeaseCheckPlanClientMapper">
    <select id="queryAfterLeaseCheckPlanLedgerList" resultType="cn.zswltech.mithras.dto.afterlease.AfterLeaseCheckLedgerListRSP">
        SELECT *
        FROM (
                 SELECT c.*,
                        CASE
                            WHEN c.check_time IS NULL AND c.commit_time IS NULL THEN 1
                            WHEN c.check_time IS NOT NULL AND c.commit_time IS NULL THEN 2
                            WHEN c.check_time IS NOT NULL AND c.commit_time IS NOT NULL THEN 3
                            ELSE 0
                            END AS check_status,
                        CASE
                            WHEN c.overdue_days > 0 THEN 1
                            ELSE 0
                            END AS overdue,
                        p.plan_name,
                        p.dead_line,
                        p.plan_type,
                        p.plan_status,
                        p.id as checkPlanClientId,
                        (SELECT rm.report_type
                         FROM new_after_lease_check_report_meta rm
                         WHERE rm.check_plan_client_id = c.id
                         ORDER BY rm.id DESC
                                   LIMIT 1) AS report_type
            FROM new_after_lease_check_plan_client c
    INNER JOIN new_after_lease_check_plan_base p ON c.plan_id = p.id
            ) AS result
        <where>
            result.plan_status != 'PUBLISH'
            and result.approval_status not in('CANCELED','CANCEL')
            <if test="dto.belongDeptId!=null and dto.belongDeptId.size() > 0">
                and result.belong_dept_id in
                <foreach collection="dto.belongDeptId" item="belongDeptId" open="(" separator="," close=")">
                    #{belongDeptId}
                </foreach>
            </if>
            <if test="dto.deadLineFrom!=null and dto.deadLineFrom.toString()!=''"> and result.dead_line &gt;= #{dto.deadLineFrom}</if>
            <if test="dto.deadLineTo!=null and dto.deadLineTo.toString()!=''"> and result.dead_line &lt;= #{dto.deadLineTo}</if>
            <if test="dto.overdue!=null and dto.overdue.toString()!=''"> and result.overdue = #{dto.overdue}</if>
            <if test="dto.checkStatus != null and dto.checkStatus != ''">
                <choose>
                    <!-- 如果 checkStatus 是表示“未检查”状态 -->
                    <when test='dto.checkStatus == "1"'>
                        AND result.check_status IN (0, 1)
                    </when>
                    <!-- 其他情况正常匹配 -->
                    <otherwise>
                        AND result.check_status = #{dto.checkStatus}
                    </otherwise>
                </choose>
            </if>
        </where>
        order by result.create_time desc
    </select>

    <select id="query2026ApprovePassPlanClient"
            resultType="cn.zswltech.mithras.afterlease.mapper.model.NewAfterLeaseCheckPlanClient">
        select a.* from new_after_lease_check_plan_client a inner join new_after_lease_check_plan_base b
        on a.plan_id  = b.id where a.approval_status ='APPROVAL_PASS' and b.approval_status ='FINISH_PASS'
        and DATE_FORMAT(b.update_time,'%Y-%m-%d') >= '2026-01-01'
    </select>
</mapper>
