<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.afterlease.infrastructure.persistence.mapper.NewAfterLeaseCheckPlanBaseMapper">

    <select id="afterLeaseAssetStrategy" resultType="cn.zswltech.mithras.dto.afterlease.AfterLeaseAssetStrategyRSP">
        SELECT
        b.id as plan_id,
        b.plan_name,
        c.client_id,
        ( SELECT client_name FROM client WHERE id = c.client_id ) AS client_name,
        c.belong_dept_id,
        ( SELECT `name` FROM bifrost_org WHERE id = c.belong_dept_id ) AS bizDeptName,
        r.risk_exposure,
        (select classify_result from asset_classify_client where client_id = c.client_id order by id desc LIMIT 1) as classify_result,
        c.payment_date,
        c.belong_sponsor_id as sponsor_id,
        (select user_name from bifrost_user where id = c.belong_sponsor_id) as sponsorName,
        c.risk_manager_id,
        c.risk_manager_name,
        b.check_way,
        b.dead_line,
        b.term,
        b.last_check_way,
        b.last_end_date,
        b.approval_status,
        b.create_time,
        b.update_time
        FROM
        new_after_lease_check_plan_base b
        INNER JOIN (SELECT nac.*
        FROM new_after_lease_check_plan_client nac
        WHERE (nac.client_id, nac.id) IN (
        SELECT nc.client_id, MAX(nc.id)
        FROM new_after_lease_check_plan_client nc,new_after_lease_check_plan_base pb
        where nc.plan_id=pb.id and pb.plan_type = 'COMMONLY'
        <if test="dto.planName!=null and dto.planName!=''">and pb.plan_name like concat('%',#{dto.planName},'%')</if>
        <if test="dto.clientId!=null and dto.clientId!=''">and nc.client_id=#{dto.clientId}</if>
        <if test="dto.planType!=null and dto.planType!=''">and pb.plan_type = #{dto.planType}</if>
        <if test="dto.checkWay!=null and dto.checkWay!=''">and pb.check_way = #{dto.checkWay}</if>
        <if test="dto.deadLineFrom!=null">and pb.dead_line >= #{dto.deadLineFrom}</if>
        <if test="dto.deadLineTo!=null">and #{dto.deadLineTo} >= pb.dead_line</if>
        GROUP BY nc.client_id
        )) AS c ON b.id = c.plan_id
        LEFT JOIN new_after_lease_check_report_base r ON r.check_plan_client_id = c.id
        <where>
            b.plan_type = 'COMMONLY'
            <if test="dto.planName!=null and dto.planName!=''">and b.plan_name like concat('%',#{dto.planName},'%')</if>
            <if test="dto.clientId!=null and dto.clientId!=''">and c.client_id=#{dto.clientId}</if>
            <if test="dto.planType!=null and dto.planType!=''">and b.plan_type = #{dto.planType}</if>
            <if test="dto.checkWay!=null and dto.checkWay!=''">and b.check_way = #{dto.checkWay}</if>
            <if test="dto.deadLineFrom!=null">and b.dead_line >= #{dto.deadLineFrom}</if>
            <if test="dto.deadLineTo!=null">and #{dto.deadLineTo} >= b.dead_line</if>
            group by c.client_id
            order by c.id DESC,b.update_time desc
        </where>
    </select>

    <select id="pageList" resultType="cn.zswltech.mithras.dto.dashboard.DashboardClientAfterLeaseCheckRSP"
    parameterType="cn.zswltech.mithras.afterlease.infrastructure.persistence.mapper.model.dashboard.DashboardClientAfterLeaseCheckQuery">
        SELECT CONCAT(ab.id, '_', c.id) AS idKey,
               c.id                     AS clientId,
               c.client_name            AS clientName,
               ab.id                    AS checkPlanId,
               ab.plan_name             AS checkPlanName,
               ab.plan_type             AS planType,
               ab.check_way             AS checkWayCode,
               ac.belong_dept_id        AS bizDeptId,
               ac.belong_sponsor_id     AS projSponsorUserId,
               ab.dead_line             AS checkDate,
               ab.approval_status       AS reportProcessStatusCode,
               ab.plan_status           AS checkPlanStatus,
               ab.create_time           AS createTime,
               ab.update_time           AS updateTime
        FROM new_after_lease_check_plan_client ac
                 LEFT JOIN new_after_lease_check_plan_base ab ON ab.id = ac.plan_id
                 LEFT JOIN client c ON c.id = ac.client_id
                 LEFT JOIN new_after_lease_check_report_base cb ON ac.id = cb.check_plan_client_id
        WHERE plan_status = 'CHECKING'
        AND ac.approval_status IN ('UNDER_APPROVAL', 'UN_SUBMIT')
        <if test="req.authBizDeptIds != null and req.authBizDeptIds.size() > 0">
            AND cb.biz_dept_id in
            <foreach collection="req.authBizDeptIds" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
        <if test="req.clientId != null">
            AND c.id = #{req.clientId}
        </if>
        <if test="req.projSponsorUserId != null">
            AND ac.belong_sponsor_id = #{req.projSponsorUserId}
        </if>
        <if test="req.approvalStatus != null">
            AND ac.approval_status = #{req.approvalStatus}
        </if>
        <if test="req.checkPlanName != null and req.checkPlanName != ''">
            ADD ab.plan_name LIKE CONCAT('%',#{req.checkPlanName}, '%')
        </if>
        <if test="req.planType != null and req.planType != ''">
            AND ab.plan_type = #{req.planType}
        </if>
        <if test="req.checkWayCode != null and req.checkWayCode != ''">
            AND ab.check_way = #{req.checkWayCode}
        </if>
        <if test="req.checkDateFrom != null and req.checkDateFrom != ''">
            AND ab.dead_line &gt;= #{req.checkDateFrom}
        </if>
        <if test="req.checkDateTo != null and req.checkDateTo != ''">
            AND ab.dead_line &lt;= #{req.checkDateTo}
        </if>
        <if test="req.checkPlanStatus != null and req.checkPlanStatus != ''">
            AND ab.plan_status = #{req.checkPlanStatus}
        </if>
        <if test="req.reportProcessStatusCode != null and req.reportProcessStatusCode != ''">
            AND ab.approval_status = #{req.reportProcessStatusCode}
        </if>
    </select>

    <select id="afterLeaseAssetStrategys" resultType="cn.zswltech.mithras.dto.afterlease.AfterLeaseAssetStrategyRSP">
        SELECT
        b.id as plan_id,
        b.plan_name,
        c.client_id,
        ( SELECT client_name FROM client WHERE id = c.client_id ) AS client_name,
        c.belong_dept_id,
        ( SELECT `name` FROM bifrost_org WHERE id = c.belong_dept_id ) AS bizDeptName,
        r.risk_exposure,
        (select classify_result from asset_classify_client where client_id = c.client_id order by id desc LIMIT 1) as classify_result,
        c.payment_date,
        c.belong_sponsor_id as sponsor_id,
        (select user_name from bifrost_user where id = c.belong_sponsor_id) as sponsorName,
        c.risk_manager_id,
        c.risk_manager_name,
        b.check_way,
        b.dead_line,
        b.term,
        b.last_check_way,
        b.last_end_date,
        b.approval_status,
        b.create_time,
        b.update_time
        FROM
        new_after_lease_check_plan_base b
        INNER JOIN new_after_lease_check_plan_client c ON b.id = c.plan_id
        LEFT JOIN new_after_lease_check_report_base r ON r.check_plan_client_id = c.id
        <where>
            b.plan_type = 'COMMONLY'
            and r.risk_exposure > 0
            <if test="dto.planName!=null and dto.planName!=''">and b.plan_name like concat('%',#{dto.planName},'%')</if>
            <if test="dto.clientId!=null and dto.clientId!=''">and c.client_id=#{dto.clientId}</if>
            <if test="dto.planType!=null and dto.planType!=''">and b.plan_type = #{dto.planType}</if>
            <if test="dto.checkWay!=null and dto.checkWay!=''">and b.check_way = #{dto.checkWay}</if>
            <if test="dto.deadLineFrom!=null">and b.dead_line >= #{dto.deadLineFrom}</if>
            <if test="dto.deadLineTo!=null">and #{dto.deadLineTo} >= b.dead_line</if>
            group by c.client_id
            order by b.update_time desc
        </where>
    </select>

    <select id="getSponsorName" resultType="cn.zswltech.mithras.dto.afterlease.AfterLeaseAssetStrategyRSP">
        select id as sponsor_id,user_name as sponsorName from bifrost_user
    </select>

    <select id="queryAllDeptName" resultType="cn.zswltech.mithras.dto.afterlease.AfterLeaseAssetStrategyRSP">
        SELECT id as biz_dept_id, name as biz_dept_name FROM bifrost_org
    </select>

    <select id="getClassifyResult" resultType="cn.zswltech.mithras.dto.afterlease.AfterLeaseAssetStrategyRSP">
        select client_id,classify_result from asset_classify_client GROUP BY client_id
    </select>
</mapper>