.form {
  max-height: 200px;
  padding-right: 10px;
  overflow-y: scroll;
}
.renderRow {
  white-space: nowrap;
  word-wrap: normal;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
