.modalWrap {
  position: absolute;
  top: 48px;
  right: 0;
  width: 360px;
  height: 570px;
  background-color: #fff;
  border: 0.5px solid #dcdcdc;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1), 0 8px 10px 1px rgba(0, 0, 0, 0.06),
    0 3px 14px 2px rgba(0, 0, 0, 0.05);
  .footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
    color: #444;
    .pagination {
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      text-align: center;
      padding: 10px 0;
    }
  }
  .tabsWrap {
    position: relative;
    .seeMore {
      position: absolute;
      right: 12px;
      top: 8px;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #8a8b8e;
      text-align: center;
      line-height: 22px;
      font-weight: 400;
      cursor: pointer;
    }
    .content {
      display: flex;
      flex-flow: column nowrap;
      .item {
        padding: 12px 8px;
        display: flex;
        flex-flow: row nowrap;
        height: 96px;
        width: 100%;
        border-bottom: 1px solid #ecedf0;
        .icon {
          font-size: 28px;
          flex: none;
          margin-right: 8px;
          display: flex;
        }
        .msg {
          display: flex;
          flex: auto;
          flex-flow: column nowrap;
          position: relative;
          height: 100%;
          justify-content: space-between;
          .time {
            position: absolute;
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #8a8b8e;
            text-align: left;
            line-height: 20px;
            font-weight: 400;
            top: 0px;
            right: 12px;
          }
          .type {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #8a8b8e;
            text-align: left;
            font-weight: 400;
            display: flex;
            align-items: center;
            &.isRead::after {
              content: '';
              width: 6px;
              height: 6px;
              background: #eb2222;
              border-radius: 50%;
              margin-left: 5px;
            }
          }
          .title {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #26272a;
            text-align: left;
            line-height: 22px;
            font-weight: 400;
            width: 300px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .a {
            font-family: HelveticaNeue;
            font-size: 14px;
            color: #2558e6;
            text-align: left;
            line-height: 22px;
            font-weight: 400;
          }
        }
      }
    }
  }
  :global {
    .ant-tabs-nav-wrap {
      padding: 0 12px;
    }
    .ant-tabs-tab {
      padding: 8px;
    }
    .ant-tabs-top > .ant-tabs-nav,
    .ant-tabs-bottom > .ant-tabs-nav,
    .ant-tabs-top > div > .ant-tabs-nav,
    .ant-tabs-bottom > div > .ant-tabs-nav {
      margin-bottom: 0;
    }
  }
}

.contract_notice_notification {
  :global {
    .ant-notification-notice-close {
      display: none;
    }
  }
}
.contract_notice {
  .title {
    color: red;
    margin-bottom: 10px;
  }
  .item {
    display: flex;
    .projectName {
      width: 200px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 10px;
    }
  }
  .btnGroup {
    text-align: right;
  }
}
