.block {
	overflow: hidden;

	.title {
		margin-top: 3px;
		float: left;
	}

	.btn {
		color: #2558E6;
		float: right;
	}
}

.icon {
	color: #2558E6;
	font-size: 16px !important;
	margin-top: 6px;
}