.header {
  // position: fixed;
  display: flex;
  justify-content: space-between;
  // padding: 16px 0;
  // width: calc(100% - 300px);
  // background: #fff;
  // z-index: 1000;
}
.processName {
  margin-bottom: 16px;
}
.container {
  margin-top: 16px;
  // padding: 16px;

  .reportPeriod {
    display: flex;
    align-items: center;
    padding: 8px 4px;
    background: rgba(37, 88, 230, 0.06);
    border-radius: 4px;
    margin-bottom: 16px;

    .icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }

  .statisticsRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
    margin-bottom: 16px;
    gap: 16px;
  }

  .departmentCard {
    margin-bottom: 16px;
  }

  .projectCard {
    margin-bottom: 16px;
  }

  .tableActions {
    a {
      margin-right: 16px;
      color: #1890ff;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  :global {
    .ant-table-cell {
      a {
        color: #1890ff;
      }
    }
  }
}
