.block {
  &_title {
    color: #5e6066;
    font-size: 14px;
    width: 85px;
    text-align: left;
  }
  &_value {
    color: #17181a;
    font-size: 14px;
    display: flex;
    align-items: center;
    // font-family: 'DINAlternate-Bold';
  }
  &_count {
    margin-right: 5px;
  }
}
