.processTypeList {
  background-color: #f2f3f5;
  padding-bottom: 12px;
  .bgColor {
    background-color: #fff;
    padding: 16px;
    display: flex;
  }
  .item {
    border: 1px solid #e2e3e6;
    border-radius: 4px;
    flex: auto;
    height: 80px;
    box-sizing: border-box;
    color: #26272a;
    position: relative;
    &:not(:last-child) {
      margin-right: 16px;
    }
    .itemTitle {
      position: absolute;
      top: 12px;
      left: 16px;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
    }
    .count {
      position: absolute;
      top: 40px;
      left: 16px;
      font-family: SourceHanSansSC-Medium;
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
    }
    .desc {
      position: absolute;
      top: 42px;
      right: 16px;
      display: flex;
      align-items: center;
      .text {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #8a8b8e;
        line-height: 22px;
        font-weight: 400;
        margin-right: 4px;
      }
      .num {
        font-family: SourceHanSansSC-Regular;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        margin-right: 4px;
      }
    }

    &:last-child {
      color: red;
    }
    &:hover {
      border: 1px solid #2558e6;
      cursor: pointer;
    }
    &.selected {
      border: 1px solid #2558e6;
      background-color: rgba(37, 88, 230, 0.1);
    }
  }
}
.tableWrap {
  background-color: #fff;
  padding: 24px 16px;
}
.page {
  :global {
    .z-page-body {
      padding: 0;
    }
  }
}
