<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.riskcontrol.RiskControlWarnMonitorMapper">


    <select id="selectCountByClient" resultType="cn.zswltech.mithras.service.providence.dto.WarnCountDto">
        select count(1) as warnCount,
               credit_code as uscc
        from risk_control_warn_monitor
        <where>
            <if test="usccs!=null and usccs.size()>0">
                and credit_code in
                <foreach collection="usccs" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="warnLevel!=null and warnLevel!=''">
                and warn_level = #{warnLevel}
            </if>
        </where>
        group by credit_code
    </select>
    <select id="countDealingClient" resultType="java.lang.Integer">
        select count(distinct credit_code) from risk_control_warn_monitor where handle_status in ('PEND_HANDLE','HANDLE_ING','REJECTED')
    </select>
    <select id="countNewWarnClient" resultType="java.lang.Integer">
        select count(distinct(credit_code)) from risk_control_warn_monitor
        where data_time = date_add(curdate(),interval -1 day) and
        credit_code not in (select distinct(credit_code) from risk_control_warn_monitor where data_time &lt; date_add(curdate(),interval -1 day));
    </select>
    <select id="countCloseWarnClient" resultType="java.lang.Integer">

        SELECT count(distinct (credit_code)) from(
         select credit_code,COUNT(1) AS handleing_count from risk_control_warn_monitor
         where handle_status in ('PEND_HANDLE','HANDLE_ING','REJECTED')
           AND credit_code in (select distinct(credit_code) from risk_control_warn_monitor where handle_status in ('CLOSED','HANDLED') and update_time &gt; curdate())
         GROUP BY credit_code) tmp where tmp.handleing_count = 0;
    </select>
    <select id="selectLatest5Day"
            resultType="cn.zswltech.mithras.service.mapper.model.riskcontrol.RiskControlWarnMonitor">
        select * from risk_control_warn_monitor where create_time &gt; date_add(curdate(),interval -5 day)
        order by create_time
    </select>
    <select id="selectHandlingWarn" resultType="cn.zswltech.mithras.service.providence.dto.DeptPieDataDto">
        select a.id,b.name as deptName from risk_control_warn_monitor a
            left join client c on a.credit_code = c.usc_code
            left join bifrost_org b on b.id = c.belong_dept_id
        where handle_status in ('PEND_HANDLE','HANDLE_ING','REJECTED')
    </select>
    <select id="selectMonitorWarnDetail"
            resultType="cn.zswltech.mithras.service.providence.dto.ClientMonitorWarnDetailRsp">
        select data_time as date,
                title as warnTitle,
               warn_code as warnCode,
               if(warn_level=3,'红灯','黄灯') as warnLevel,
               handle_status as warnStatus
        from risk_control_warn_monitor a
        left join client c on a.credit_code = c.usc_code
        where c.id = #{clientId}
        order by a.create_time desc
    </select>

    <select id="pageWarn"
            resultType="cn.zswltech.mithras.service.mapper.model.riskcontrol.RiskControlWarnMonitor">
        select
        a.id as id,
        a.title as title,
        a.chi_name as chiName,
        a.credit_code as creditCode,
        a.data_time as dataTime,
        a.warn_code as warnCode,
        a.warn_level as warnLevel,
        a.link_address as linkAddress,
        a.handle_status as handle_status,
        c.belong_dept_id as belongDeptId,
        a.data_source as dataSource
        from risk_control_warn_monitor a
        left join client c on a.credit_code = c.usc_code
        <where>
            <if test="param.chiName!=null">
                and a.chi_name like CONCAT('%',#{param.chiName},'%')
            </if>
            <if test="param.creditCode!=null">
                and a.credit_code like CONCAT('%',#{param.creditCode},'%')
            </if>
            <if test="param.warnCode!=null">
                and a.warn_code like CONCAT('%',#{param.warnCode},'%')
            </if>
            <if test="param.title!=null">
                and a.title like CONCAT('%',#{param.title},'%')
            </if>
            <if test="param.belongDeptId!=null">
                and c.belong_dept_id = #{param.belongDeptId}
            </if>
            <if test="param.warnLevels!=null and param.warnLevels.size()>0">
                and a.warn_level in
                <foreach collection="param.warnLevels" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="param.handleStatus!=null">
                and a.handle_status = #{param.handleStatus}
            </if>
            <if test="param.belongDeptIds!=null and param.belongDeptIds.size()>0">
                and c.belong_dept_id in
                <foreach collection="param.belongDeptIds" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="param.ids!=null and param.ids.size()>0">
                and a.id in
                <foreach collection="param.ids" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by a.create_time desc
    </select>

    <select id="countDealing" resultType="java.lang.Integer">
        select count(1) from risk_control_warn_monitor where handle_status = 'HANDLE_ING'
        <if test="warnLevel!=null">
            and warn_level = #{warnLevel}
        </if>
    </select>
    <select id="countNewWarn" resultType="java.lang.Integer">
        select count(1) from risk_control_warn_monitor
        where create_time >= curdate()
        <if test="warnLevel!=null">
            and warn_level = #{warnLevel}
        </if>
    </select>
    <select id="countCloseWarn" resultType="java.lang.Integer">
        select count(1) from risk_control_warn_monitor where update_time >= curdate()
        and handle_status = 'HANDLED'
        <if test="warnLevel!=null">
            and warn_level = #{warnLevel}
        </if>
    </select>
    <select id="totalRiskType" resultType="cn.zswltech.mithras.service.mapper.dto.RiskWarnCardDTO">
        select risk_type as cardCode, count(1) as amount
        from risk_control_warn_monitor
        where handle_status in ('PEND_HANDLE', 'HANDLE_ING', 'REJECTED')
          and risk_type is not null
        group by risk_type
    </select>

    <select id="selectMaxWarnCodeByDate" resultType="java.lang.String">
        SELECT MAX(warn_code)
        FROM risk_control_warn_monitor
        WHERE warn_code LIKE CONCAT('YJ', #{dateStr}, '%')
    </select>

    <select id="selectExistingRecords" resultType="cn.zswltech.mithras.service.mapper.model.riskcontrol.RiskControlWarnMonitor">
        SELECT
        id,
        title,
        credit_code,
        data_time
        FROM risk_control_warn_monitor
        WHERE
        <foreach collection="params" item="param" separator=" OR ">
            (
            title = #{param.title}
            AND credit_code = #{param.creditCode}
            AND data_time = #{param.dataTime}
            )
        </foreach>
    </select>
</mapper>
