
.des {
  :global {
    // .ant-row {
    //   width: 400px !important;
    // }
    .ant-col-20,
    input,
    .ant-input-number-wrapper {
      max-width: 450px !important;
      min-width: 300px !important;
    }
    .ant-input-number-wrapper{
      margin: 4px 0 !important;

    }
  }
    :global {
      .ant-descriptions-item-label {
        width: 176px;
      }
      .ant-descriptions-item-content {
        width: 350px;
        max-width: 350px;
      }
      .ant-descriptions-view {
        border-top: 1px solid #2558e6;
      }
      .ant-form-item {
        margin: 0 !important;
      }
    }
}
.trackModalP {
  position: relative;
  width: 100%;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #2558e6;
  text-align: center;
  line-height: 32px;
  font-weight: 400;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
.TrackModal  {
    position: absolute;
    right: -47px;
    z-index: 2;
    opacity: 0;
  }

    .text {
      display: inline-block;
      color: #000;
      margin-right: 100px;
      min-width: 60px;
      text-align: left;
    }
    .noWrap {
      display: flex;
      flex-wrap: nowrap;
    }
    .icon3 {
      position: relative;
      display: flex;
      align-items: center;
      color: #2558e6;
      font-size: 16px;
      height: 32px;
      list-style: 32px;
      margin-left: 5px;
      cursor: pointer;
    }
  .iconDelete {
    // display: flex;
    // align-items: right;
    color: #2558e6;
    font-size: 16px;
    // height: 32px;
    // list-style: 32px;
    margin-left: 5px;
    cursor: pointer;
  }

}

.padding5 {
  padding: 4px 0;
  box-sizing: border-box;
}