<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.factory.mapper.RzyDmCalculateIndicatorMapper">

    <select id="selectCityModelInfo" resultType="cn.zswltech.mithras.factory.model.result.CityModelResult">

        SELECT
            max(case t.indicator_code WHEN 'gp_budget_revenue' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as gp_budget_revenue,
            max(case t.indicator_code WHEN 'gdp' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as gdp,
            max(case t.indicator_code WHEN 'secondary_industry_rt' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as secondary_industry_rt,
            max(case t.indicator_code WHEN 'town_pcdi' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as town_pcdi,
            max(case t.indicator_code WHEN 'house_avg_price_sc' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as house_avg_price_sc,
            max(case t.indicator_code WHEN 'government_fund_income' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as government_fund_income,
            max(case t.indicator_code WHEN 'comprehensive_gdp_rt' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as comprehensive_gdp_rt,
            max(case t.indicator_code WHEN 'tax_income_ratio' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as tax_income_ratio,
            max(case t.indicator_code WHEN 'budget_balance' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as budget_balance,
            max(case t.indicator_code WHEN 'debt_ratio' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as debt_ratio,
            max(case t.indicator_code WHEN 'debt_rate' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as debt_rate,
            max(case t.indicator_code WHEN 'debt_large_rt' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as debt_large_rt,
            max(case t.indicator_code WHEN 'government_transparency' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as government_transparency,
            max(case t.indicator_code WHEN 'class_adj' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as class_adj
        FROM
            (SELECT area_uni_code,indicator_name,indicator_code,indicator_value FROM rzy_dm_calculate_indicator WHERE area_uni_code = ${area_uni_code}) t
        GROUP BY t.area_uni_code

    </select>


    <select id="selectAreaModelInfo" resultType="cn.zswltech.mithras.factory.model.result.AreaModelResult">

        SELECT
            max(case t.indicator_code WHEN 'gp_budget_revenue' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as gp_budget_revenue,
            max(case t.indicator_code WHEN 'gdp' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as gdp,
            max(case t.indicator_code WHEN 'secondary_industry_rt' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as secondary_industry_rt,
            max(case t.indicator_code WHEN 'town_pcdi' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as town_pcdi,
            max(case t.indicator_code WHEN 'resident_pop_yoy_ratio' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as resident_pop_yoy_ratio,
            max(case t.indicator_code WHEN 'house_avg_price_sc' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as house_avg_price_sc,
            max(case t.indicator_code WHEN 'government_fund_income' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as government_fund_income,
            max(case t.indicator_code WHEN 'tax_income_ratio' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as tax_income_ratio,
            max(case t.indicator_code WHEN 'budget_balance' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as budget_balance,
            max(case t.indicator_code WHEN 'debt_ratio' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as debt_ratio,
            max(case t.indicator_code WHEN 'debt_rate' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as debt_rate,
            max(case t.indicator_code WHEN 'debt_large_rt' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as debt_large_rt,
            max(case t.indicator_code WHEN 'government_transparency' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as government_transparency,
            max(case t.indicator_code WHEN 'city_score' THEN (case WHEN t.indicator_value is null then 0
                ELSE t.indicator_value end ) ELSE -9999999999999 END) as city_score
        FROM
            (SELECT area_uni_code,indicator_name,indicator_code,indicator_value FROM rzy_dm_calculate_indicator WHERE area_uni_code = ${area_uni_code}) t
        GROUP BY t.area_uni_code

    </select>
</mapper>
