.wrap {
  margin-top: -8px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 24px;
    font-weight: 500;
    .extra {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #58595c;
      line-height: 22px;
      font-weight: 400;
      margin-left: 12px;
    }
  }
  .subTitle {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    font-weight: 400;
    position: relative;
    padding-left: 8px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 3px;
      height: 12px;
      background-color: #2558e6;
      margin-right: 4px;
    }
  }
  .btnWrap {
    display: flex;
    align-items: center;
  }
}

.desSmell {
  margin-top: 20px;
  :global {
    .ant-descriptions-item-label {
      width: 171px;
    }
    .ant-descriptions-item-content {
      width: 220px;
      max-width: 220px;
    }
    .ant-descriptions-view {
      border-top: 1px solid #2558e6;
    }
  }
}

.control {
  display: flex;
  align-items: center;
  .item {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #2558e6;
    // line-height: 40px;
    font-weight: 400;
    margin: 0 6px;
    cursor: pointer;
  }
}
