.title {
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.fileWrap {
  margin-top: 20px;
}

.myTable {
  :global {
    .ant-table-tbody {
      scrollbar-width: thin;
      scrollbar-color: #eaeaea transparent;
      scrollbar-gutter: stable;
    }
  }
}
