<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.dashboard.DashboardOperationConversionMapper">

    <select id="listNewestCommerceInfo"
            resultType="cn.zswltech.mithras.customer.infrastructure.persistence.mapper.model.client.CorpCommerceInfoLib">
        SELECT p.*
        FROM corp_commerce_info_lib p
        INNER JOIN (select client_id,max(version) max_version from corp_commerce_info_lib
        where version_type = 1 GROUP BY client_id) m
        ON p.client_id = m.client_id AND p.version = m.max_version
        <where>
            <if test="dto.inRiskControlIndustryClassify != null and dto.inRiskControlIndustryClassify.size()>0">
                AND p.risk_control_industry_classify IN
                <foreach collection="dto.inRiskControlIndustryClassify" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="dto.inClientIds != null and dto.inClientIds.size() > 0">
                AND p.client_id IN
                <foreach collection="dto.inClientIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
