<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.dashboard.infrastructure.persistence.mapper.DashboardProjectStageMapper">
    <select id="listProjectOverviewEstablishStage" resultType="cn.zswltech.mithras.dashboard.infrastructure.persistence.mapper.model.DashboardProjectStageEstablishResult">
        select
        t.*
        from (
            select
            pebi.id as mainId,
            '一般立项' as projectEstablishType,
            pebi.proj_name as projName,
            pebi.proj_establish_status as projectEstablishStatus,
            pebi.proj_establish_process_status as projectEstablishProcessStatus,
            c.id as clientId,
            c.client_name as clientName,
            pebi.create_time as createTime,
            workday(pebi.create_time, now()) as workdaysOnStage,
            case pebi.biz_type when 'ZR' then peap.apply_credit_amount when 'BL' then pefp.apply_credit_amount else pelp.apply_credit_amount end as creditAmount,
            cci.risk_control_industry_classify as riskControlIndustryClassifyCode,
            it.code as industryCode,
            it.display as industryDisplay,
            pebi.biz_type as bizTypeCode,
            pebi.lessee_info as lesseeInfoJson,
            pebi.guarantee_info as guaranteeInfoJson,
            pebi.biz_dept_id as bizDeptId,
            pebi.proj_sponsor_user_id as projSponsorUserId,
            pebi.proj_cosponsor_user_ids as projCosponsorUserIdsJson,
            ahp.START_TIME_ as processInstanceStartTime,
            ahp.END_TIME_ as processInstanceEndTime,
            if (ahp.START_TIME_ is null, null, if (ahp.END_TIME_ is null, null, workday(ahp.START_TIME_, ahp.END_TIME_))) as processWorkdays,
            pebi.risk_control_manager_id as risk_control_manager_id,
            ahp.source_status as processInstanceStatus
            from proj_establish_base_info as pebi
            left join proj_establish_lease_price as pelp on pebi.id = pelp.proj_establish_id
            left join proj_establish_factoring_price as pefp on pebi.id = pefp.proj_establish_id
            left join proj_establish_aoc_price as peap on pebi.id = peap.proj_establish_id
            left join client as c on pebi.client_id = c.id
            left join corp_commerce_info as cci on c.id = cci.client_id
            left join industry_type as it on substr(cci.industry_type,1,1) = it.code and it.level = 1
            left join (
                select
                ahp.BUSINESS_KEY_,
                ahp.START_TIME_,
                ahp.END_TIME_,
                bs.source_status
                from act_hi_procinst as ahp
                inner join business_status as bs on ahp.PROC_INST_ID_ = bs.source_id and bs.source_type = 1 and source_status in (1,2,6)
                where ahp.PROC_DEF_ID_ in (select ID_ from act_re_procdef where KEY_ = 'ProjEstablishCreateFlow')
            ) as ahp on pebi.id = ahp.BUSINESS_KEY_
            where pebi.id not in (select proj_establish_id from proj_review_base_info where proj_establish_id is not null) and
        pebi.proj_establish_status &lt;&gt; 'CLOSED' and pebi.proj_establish_status &lt;&gt; 'EXPIRE'
            union
            select
            gcebi.id as mainId,
            '授信立项' as projectEstablishType,
            gcebi.proj_name as projectEstablishName,
            gcebi.group_credit_establish_status as projectEstablishStatus,
            gcebi.group_credit_establish_process_status as projectEstablishProcessStatus,
            c.id as clientId,
            c.client_name as clientName,
            gcebi.create_time as createTime,
            workday(gcebi.create_time, now()) as workdaysOnStage,
            gcebi.apply_credit_amount as creditAmount,
            cci.risk_control_industry_classify as riskControlIndustryClassifyCode,
            it.code as industryCode,
            it.display as industryDisplay,
            '' as bizTypeCode,
            '' as lesseeInfoJson,
            '' as guaranteeInfoJson,
            gcebi.biz_dept_id as bizDeptId,
            gcebi.proj_sponsor_user_id as projSponsorUserId,
            gcebi.proj_cosponsor_user_ids as projCosponsorUserIdsJson,
            ahp.START_TIME_ as processInstanceStartTime,
            ahp.END_TIME_ as processInstanceEndTime,
            if (ahp.START_TIME_ is null, null, if (ahp.END_TIME_ is null, null, workday(ahp.START_TIME_, ahp.END_TIME_))) as processWorkdays,
            gcebi.risk_control_manager_id as risk_control_manager_id,
            ahp.source_status as processInstanceStatus
            from group_credit_establish_base_info as gcebi
            left join group_credit_review_base_info as gcrbi on gcebi.id = gcrbi.group_credit_establish_id
            left join client as c on gcebi.client_id = c.id
            left join corp_commerce_info as cci on c.id = cci.client_id
            left join industry_type as it on substr(cci.industry_type,1,1) = it.code and it.level = 1
            left join (
                select
                ahp.BUSINESS_KEY_,
                ahp.START_TIME_,
                ahp.END_TIME_,
                bs.source_status
                from act_hi_procinst as ahp
                inner join business_status as bs on ahp.PROC_INST_ID_ = bs.source_id and bs.source_type = 1 and source_status in (1,2,6)
                where ahp.PROC_DEF_ID_ in (select ID_ from act_re_procdef where KEY_ = 'GroupCreditEstablishCreateFlow')
            ) as ahp on gcebi.id = ahp.BUSINESS_KEY_
            where (gcrbi.id is null or gcrbi.id not in (select group_credit_review_id from proj_review_base_info where group_credit_review_id is
        not null)) and gcebi.group_credit_establish_status &lt;&gt; 'CLOSED' and gcebi.group_credit_establish_status &lt;&gt; 'EXPIRE'
        ) as t
        where 1 = 1
        <if test="clientId != null">
            and t.clientId = #{clientId}
        </if>
        <if test="projName != null and projName != ''">
            and t.projName like concat('%', #{projName}, '%')
        </if>
        <if test="projectEstablishStatus != null and projectEstablishStatus != ''">
            and t.projectEstablishStatus = #{projectEstablishStatus}
        </if>
        <if test="projectEstablishProcessStatus != null and projectEstablishProcessStatus != ''">
            and t.projectEstablishProcessStatus = #{projectEstablishProcessStatus}
        </if>
        <if test="bizDeptId != null">
            and t.bizDeptId = #{bizDeptId}
        </if>
        <if test="projSponsorUserId != null">
            and t.projSponsorUserId = #{projSponsorUserId}
        </if>
        <if test="authBizDeptIds != null and authBizDeptIds.size() > 0">
            and t.bizDeptId in
            <foreach collection="authBizDeptIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="authCurrentUserId != null">
            and (
            t.projSponsorUserId = #{authCurrentUserId}
            or
            json_contains(t.projCosponsorUserIdsJson, cast( #{authCurrentUserId} as json) )
            )
        </if>
        <if test="accountVO != null and accountVO.id != null">
            <if test="permissionType != null and permissionType == 'own'">
                and JSON_CONTAINS(t.risk_control_manager_id, cast( #{accountVO.id} as json))
            </if>
        </if>

        order by createTime desc
        <include refid="commonLimitSql"></include>
    </select>

    <select id="listProjectOverviewReviewStage" resultType="cn.zswltech.mithras.dashboard.infrastructure.persistence.mapper.model.DashboardProjectStageReviewResult">
        select
        prbi.id as mainId,
        prbi.proj_review_status as projReviewStatus,
        prbi.proj_review_process_status as projReviewProcessStatus,
        prbi.client_id as clientId,
        c.client_name as clientName,
        prbi.proj_name as projName,
        prbi.create_time as createTime,
        workday(prbi.create_time, now()) as workdaysOnStage,
        case prbi.biz_type when 'ZR' then prap.apply_credit_amount when 'BL' then prfp.apply_credit_amount else prlp.apply_credit_amount end as creditAmount,
        cci.risk_control_industry_classify as riskControlIndustryClassifyCode,
        it.code as industryCode,
        it.display as industryDisplay,
        prbi.biz_type as bizTypeCode,
        prbi.lessee_info as lesseeInfoJson,
        prbi.guarantee_info as guaranteeInfoJson,
        prbi.biz_dept_id as bizDeptId,
        prbi.proj_sponsor_user_id as projSponsorUserId,
        prbi.proj_cosponsor_user_ids as projCosponsorUserIdsJson,
        ahp.START_TIME_ as processInstanceStartTime,
        ahp.END_TIME_ as processInstanceEndTime,
        if (ahp.START_TIME_ is null, null, if (ahp.END_TIME_ is null, null, workday(ahp.START_TIME_, ahp.END_TIME_))) as processWorkdays,
        prbi.risk_control_manager_id as risk_control_manager_id,
        ahp.source_status as processInstanceStatus
        from proj_review_base_info as prbi
        left join proj_review_lease_price as prlp on prbi.id = prlp.project_id
        left join proj_review_factoring_price as prfp on prbi.id = prfp.project_id
        left join proj_review_aoc_price as prap on prbi.id = prap.project_id
        left join client as c on prbi.client_id = c.id
        left join corp_commerce_info as cci on c.id = cci.client_id
        left join industry_type as it on substr(cci.industry_type,1,1) = it.code and it.level = 1
        left join (
            select
            ahp.BUSINESS_KEY_,
            ahp.START_TIME_,
            ahp.END_TIME_,
            bs.source_status
            from act_hi_procinst as ahp
            inner join business_status as bs on ahp.PROC_INST_ID_ = bs.source_id and bs.source_type = 1 and source_status in (1,2,6)
            where ahp.PROC_DEF_ID_ in (select ID_ from act_re_procdef where KEY_ = 'ProjReviewCreateFlow')
        ) as ahp on prbi.id = ahp.BUSINESS_KEY_
        where 1 = 1
        <if test="viewType == 1">
            and prbi.proj_review_status = 'NEW'
        </if>
        <if test="viewType == 2">
            and prbi.proj_review_status = 'TAKE_EFFECT' and prbi.id not in (select proj_review_id from contract_base_info)
        </if>
        <if test="viewType == 3">
            and ahp.source_status = 1 and prbi.id not in (select belong_id from materials_list where business_type = 'PROJ_REVIEW' and materials_type = 'LEGAL_COMPLIANCE_REPORT')
        </if>
        <if test="clientId != null">
            and prbi.client_id = #{clientId}
        </if>
        <if test="projName != null and projName != ''">
            and prbi.proj_name like concat('%', #{projName}, '%')
        </if>
        <if test="projectReviewStatus != null and projectReviewStatus != ''">
            and prbi.proj_review_status = #{projectReviewStatus}
        </if>
        <if test="projectReviewProcessStatus != null and projectReviewProcessStatus != ''">
            and prbi.proj_review_process_status = #{projectReviewProcessStatus}
        </if>
        <if test="bizDeptId != null">
            and prbi.biz_dept_id = #{bizDeptId}
        </if>
        <if test="projSponsorUserId != null">
            and prbi.proj_sponsor_user_id = #{projSponsorUserId}
        </if>
        <if test="authBizDeptIds != null and authBizDeptIds.size() > 0">
            and prbi.biz_dept_id in
            <foreach collection="authBizDeptIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="authCurrentUserId != null">
            and (
            prbi.proj_sponsor_user_id = #{authCurrentUserId}
            or
            json_contains(prbi.proj_cosponsor_user_ids, cast( #{authCurrentUserId} as json) )
            )
        </if>
        <if test="accountVO != null and accountVO.id != null">
            <if test="permissionType != null and permissionType == 'own'">
                and prbi.risk_control_manager_id = #{accountVO.id}
            </if>
        </if>
        order by createTime desc
        <include refid="commonLimitSql"></include>
    </select>

    <select id="listProjectOverviewContractStage" resultType="cn.zswltech.mithras.dashboard.infrastructure.persistence.mapper.model.DashboardProjectStageContractResult">
        select
        cbi.id as mainId,
        cbi.contract_code as contractCode,
        cbi.contract_status as contractStatus,
        cbi.contract_process_status as contractProcessStatus,
        cbi.client_id as clientId,
        c.client_name as clientName,
        cbi.proj_name as projName,
        cbi.create_time as createTime,
        workday(cbi.create_time, now()) as workdaysOnStage,
        cbi.apply_credit_amount as creditAmount,
        case cbi.biz_type when 'ZR' then cap.contract_amount when 'BL' then cfp.contract_amount else clp.apply_credit_amount end as contractAmount,
        case cbi.biz_type when 'ZR' then cap.lpr_percent when 'BL' then cfp.lpr_percent else clp.lpr_percent end as lprPercent,
        case cbi.biz_type when 'ZR' then cap.lpr_add_percent when 'BL' then cfp.lpr_add_percent else clp.lpr_add_percent end as lprAddPercent,
        case cbi.biz_type when 'ZR' then cap.aoc_credit_term when 'BL' then cfp.factoring_credit_term else clp.lease_month_count end as leaseDuration,
        cci.risk_control_industry_classify as riskControlIndustryClassifyCode,
        it.code as industryCode,
        it.display as industryDisplay,
        cbi.biz_type as bizTypeCode,
        cbi.biz_dept_id as bizDeptId,
        cbi.proj_sponsor_user_id as projSponsorUserId,
        cbi.proj_cosponsor_user_ids as projCosponsorUserIdsJson,
        ahp.START_TIME_ as processInstanceStartTime,
        ahp.END_TIME_ as processInstanceEndTime,
        if (ahp.START_TIME_ is null, null, if (ahp.END_TIME_ is null, null, workday(ahp.START_TIME_, ahp.END_TIME_))) as processWorkdays,
        cbi.risk_control_manager_id as risk_control_manager_id,
        ahp.source_status as processInstanceStatus
        from contract_base_info as cbi
        left join contract_lease_price as clp on cbi.id = clp.contract_id
        left join contract_factoring_price as cfp on cbi.id = cfp.contract_id
        left join contract_aoc_price as cap on cbi.id = cap.contract_id
        left join client as c on cbi.client_id = c.id
        left join corp_commerce_info as cci on c.id = cci.client_id
        left join industry_type as it on substr(cci.industry_type,1,1) = it.code and it.level = 1
        left join (
            select
            ahp.BUSINESS_KEY_,
            ahp.START_TIME_,
            ahp.END_TIME_,
            bs.source_status
            from act_hi_procinst as ahp
            inner join business_status as bs on ahp.PROC_INST_ID_ = bs.source_id and bs.source_type = 1 and source_status in (1,2,6)
            where ahp.PROC_DEF_ID_ in (select ID_ from act_re_procdef where KEY_ = 'ContractCreateFlow')
        ) as ahp on cbi.id = ahp.BUSINESS_KEY_
        where cbi.contract_status not in ('CLOSED','INVALID') and cbi.id not in (select contract_id from payment_base_info)
        <if test="clientId != null">
            and cbi.client_id = #{clientId}
        </if>
        <if test="contractCode != null and contractCode != ''">
            and cbi.contract_code like concat('%', #{contractCode}, '%')
        </if>
        <if test="contractProcessStatus != null and contractProcessStatus != ''">
            and cbi.contract_process_status = #{contractProcessStatus}
        </if>
        <if test="bizDeptId != null">
            and cbi.biz_dept_id = #{bizDeptId}
        </if>
        <if test="projSponsorUserId != null">
            and cbi.proj_sponsor_user_id = #{projSponsorUserId}
        </if>
        <if test="authBizDeptIds != null and authBizDeptIds.size() > 0">
            and cbi.biz_dept_id in
            <foreach collection="authBizDeptIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="authCurrentUserId != null">
            and (
            cbi.proj_sponsor_user_id = #{authCurrentUserId}
            or
            json_contains(cbi.proj_cosponsor_user_ids, cast( #{authCurrentUserId} as json) )
            )
        </if>
        <if test="accountVO != null and accountVO.id != null">
            <if test="permissionType != null and permissionType == 'own'">
                and cbi.risk_control_manager_id = #{accountVO.id}
            </if>
        </if>
        <if test="projName != null and projName != ''">
            and cbi.proj_name like concat('%', #{projName}, '%')
        </if>
        order by createTime desc
        <include refid="commonLimitSql"></include>
    </select>

    <select id="listProjectOverviewPaymentStage" resultType="cn.zswltech.mithras.dashboard.infrastructure.persistence.mapper.model.DashboardProjectStagePaymentResult">
        select
        pbi.id as mainId,
        pbi.payment_code as paymentCode,
        cbi.contract_code as contractCode,
        pbi.payment_status as paymentStatus,
        pbi.payment_process_status as paymentProcessStatus,
        cbi.client_id as clientId,
        c.client_name as clientName,
        cbi.proj_name as projName,
        pbi.create_time as createTime,
        workday(pbi.create_time, now()) as workdaysOnStage,
        pbi.apply_payment_amount as applyPayAmount,
        pbi.apply_payment_date as applyPayDate,
        case cbi.biz_type when 'ZR' then cap.contract_amount when 'BL' then cfp.contract_amount else clp.apply_credit_amount end as contractAmount,
        case cbi.biz_type when 'ZR' then cap.lpr_percent when 'BL' then cfp.lpr_percent else clp.lpr_percent end as lprPercent,
        case cbi.biz_type when 'ZR' then cap.lpr_add_percent when 'BL' then cfp.lpr_add_percent else clp.lpr_add_percent end as lprAddPercent,
        case cbi.biz_type when 'ZR' then cap.aoc_credit_term when 'BL' then cfp.factoring_credit_term else clp.lease_month_count end as leaseDuration,
        cci.risk_control_industry_classify as riskControlIndustryClassifyCode,
        it.code as industryCode,
        it.display as industryDisplay,
        cbi.biz_type as bizTypeCode,
        cbi.biz_dept_id as bizDeptId,
        cbi.proj_sponsor_user_id as projSponsorUserId,
        cbi.proj_cosponsor_user_ids as projCosponsorUserIdsJson,
        ahp.START_TIME_ as processInstanceStartTime,
        ahp.END_TIME_ as processInstanceEndTime,
        if (ahp.START_TIME_ is null, null, if (ahp.END_TIME_ is null, null, workday(ahp.START_TIME_, ahp.END_TIME_))) as processWorkdays,
        cbi.risk_control_manager_id as risk_control_manager_id,
        ahp.source_status as processInstanceStatus
        from payment_base_info as pbi
        left join contract_base_info as cbi on cbi.id = pbi.contract_id
        left join contract_lease_price as clp on cbi.id = clp.contract_id
        left join contract_factoring_price as cfp on cbi.id = cfp.contract_id
        left join contract_aoc_price as cap on cbi.id = cap.contract_id
        left join client as c on cbi.client_id = c.id
        left join corp_commerce_info as cci on c.id = cci.client_id
        left join industry_type as it on substr(cci.industry_type,1,1) = it.code and it.level = 1
        left join (
            select
            ahp.BUSINESS_KEY_,
            ahp.START_TIME_,
            ahp.END_TIME_,
            bs.source_status
            from act_hi_procinst as ahp
            inner join business_status as bs on ahp.PROC_INST_ID_ = bs.source_id and bs.source_type = 1 and source_status in (1,2,6)
            where ahp.PROC_DEF_ID_ in (select ID_ from act_re_procdef where KEY_ = 'PaymentCreateFlow')
        ) as ahp on pbi.id = ahp.BUSINESS_KEY_
        where 1 = 1
        <if test="viewType == 1">
            and pbi.payment_status = 'NEW'
        </if>
        <if test="viewType == 2">
            and pbi.payment_status = 'TAKE_EFFECT' and pbi.id not in (select payment_id from payment_actual_detail)
        </if>
        <if test="clientId != null">
            and cbi.client_id = #{clientId}
        </if>
        <if test="applyPayDateFrom != null">
            and pbi.apply_payment_date &gt;= #{applyPayDateFrom}
        </if>
        <if test="applyPayDateTo != null">
            and pbi.apply_payment_date &lt;= #{applyPayDateTo}
        </if>
        <if test="contractCode != null and contractCode != ''">
            and cbi.contract_code like concat('%', #{contractCode} , '%')
        </if>
        <if test="paymentStatus != null and paymentStatus != ''">
            and pbi.payment_status = #{paymentStatus}
        </if>
        <if test="paymentProcessStatus != null and paymentProcessStatus != ''">
            and pbi.payment_process_status = #{paymentProcessStatus}
        </if>
        <if test="bizDeptId != null">
            and cbi.biz_dept_id = #{bizDeptId}
        </if>
        <if test="projSponsorUserId != null">
            and cbi.proj_sponsor_user_id = #{projSponsorUserId}
        </if>
        <if test="authBizDeptIds != null and authBizDeptIds.size() > 0">
            and cbi.biz_dept_id in
            <foreach collection="authBizDeptIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="authCurrentUserId != null">
            and (
            cbi.proj_sponsor_user_id = #{authCurrentUserId}
            or
            json_contains(cbi.proj_cosponsor_user_ids, cast( #{authCurrentUserId} as json) )
            )

        </if>
        <if test="accountVO != null and accountVO.id != null">
            <if test="permissionType != null and permissionType == 'own'">
                and cbi.risk_control_manager_id = #{accountVO.id}
            </if>
        </if>
        order by createTime desc
        <include refid="commonLimitSql"></include>
    </select>
    
    <select id="listProjectOverviewRepaymentStage" resultType="cn.zswltech.mithras.dashboard.infrastructure.persistence.mapper.model.DashboardProjectStageRepaymentResult">
        select
        t.*
        from (
            select
            a.id as mainId,
            a.client_id as clientId,
            cl.client_name as clientName,
            a.proj_name as projName,
            a.contract_code as contractCode,
            a.create_time as createTime,
            a.actual_lease_date as actualLeaseDate,
            b.earliest_pay_date as earliestPayDate,
            b.total_pay_amount as totalPay,
            ifnull(c.total_plan_rent,0) as totalPlanRent,
            ifnull(c.total_collection_rent,0) as totalCollectionRent,
            ifnull(c.total_plan_principal,0) as totalPlanPrincipal,
            ifnull(c.total_collection_principal,0) as totalCollectionPrincipal,
            ifnull(c.total_plan_interest,0) as totalPlanInterest,
            ifnull(c.total_collection_interest,0) as totalCollectionInterest,
            ifnull(d.collection_amount,0) as earnestBalance,
            ifnull(e.plan_collection_first_rent,0) as planCollectionFirstRent,
            ifnull(e.collection_first_rent,0) as collectionFirstRent,
            case a.biz_type when 'ZR' then cap.aoc_credit_term when 'BL' then cfp.factoring_credit_term else clp.lease_month_count end as leaseDuration,
            case a.biz_type when 'ZR' then cap.irr_percent when 'BL' then cfp.irr_percent else clp.irr_percent end as estimateIrr,
            cci.risk_control_industry_classify as riskControlIndustryClassifyCode,
            it.code as industryCode,
            it.display as industryDisplay,
            a.biz_type as bizTypeCode,
            a.biz_dept_id as bizDeptId,
            a.proj_sponsor_user_id as projSponsorUserId,
            a.risk_control_manager_id as risk_control_manager_id,
            a.proj_cosponsor_user_ids as projCosponsorUserIdsJson
            from contract_base_info as a
            inner join (select contract_id, sum(paid_in_amount) as total_pay_amount, max(paid_in_date) as earliest_pay_date from payment_actual_detail group by contract_id having total_pay_amount > 0) as b on a.id = b.contract_id
            left join (
            select
            contract_id,
            sum(collection_amount) as total_collection_rent,
            sum(plan_collection_amount) as total_plan_rent,
            sum(collection_interest) as total_collection_interest,
            sum(interest) as total_plan_interest,
            sum(collection_principal) as total_collection_principal,
            sum(principal) as total_plan_principal
            from collection_base_info
            where cash_flow_item = 'RENT' and phase > 0
            group by contract_id
            ) as c on a.id = c.contract_id
            left join (select contract_id, sum(collection_amount) as collection_first_rent, sum(plan_collection_amount) as plan_collection_first_rent from collection_base_info where cash_flow_item = 'FIRST_RENT' group by contract_id) as e on a.id = e.contract_id
            left join margin_base_info as d on a.id = d.contract_id
            left join contract_lease_price as clp on a.id = clp.contract_id
            left join contract_factoring_price as cfp on a.id = cfp.contract_id
            left join contract_aoc_price as cap on a.id = cap.contract_id
            left join client as cl on a.client_id = cl.id
            left join corp_commerce_info as cci on cl.id = cci.client_id
            left join industry_type as it on substr(cci.industry_type,1,1) = it.code and it.level = 1
        ) as t
        where ((totalPay > (totalCollectionPrincipal + collectionFirstRent)) or (earnestBalance > 0))
        <if test="contractCode != null and contractCode != ''">
            and t.contractCode like concat('%', #{contractCode}, '%')
        </if>
        <if test="projName != null and projName != ''">
            and t.projName like concat('%', #{projName},'%')
        </if>
        <if test="rentBalanceFrom != null">
            and #{rentBalanceFrom} &lt;= (t.totalPlanRent - t.totalCollectionRent)
        </if>
        <if test="rentBalanceTo != null">
            and #{rentBalanceTo} &gt;= (t.totalPlanRent - t.totalCollectionRent)
        </if>
        <if test="authBizDeptIds != null and authBizDeptIds.size() > 0">
            and t.bizDeptId in
            <foreach collection="authBizDeptIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="authCurrentUserId != null">
            and (
            t.projSponsorUserId = #{authCurrentUserId}
            or
            json_contains(t.projCosponsorUserIdsJson, cast( #{authCurrentUserId} as json) )
            )
        </if>
        <if test="accountVO != null and accountVO.id != null">
            <if test="permissionType != null and permissionType == 'own'">
                and t.risk_control_manager_id = #{accountVO.id}
            </if>
        </if>
        <if test="clientId != null">
            and t.clientId = #{clientId}
        </if>
        order by createTime desc
        <include refid="commonLimitSql"></include>
    </select>

    <sql id="commonLimitSql">
        limit 0,5000
    </sql>
</mapper>
