.wrap {
}

.table {
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.content {
  display: flex;
  flex-flow: column;
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    .termWrap {
      overflow-y: auto;
      background-color: rgba(241, 242, 245, 0.5);
      display: flex;
      align-items: center;
      &::-webkit-scrollbar {
        width: 2px;
        height: 4px;
        padding-left: 1px;
        background-color: transparent;
      }

      .termList {
        display: flex;
        align-items: center;
      }
    }
  }
}
.filterBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}
