.wrap {
  position: relative;
  .editWrap {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .des {
    :global {
      .ant-descriptions-item-label {
        width: 176px;
      }
      .ant-descriptions-item-content {
        width: 350px;
      }
      .ant-descriptions-view {
        border-top: 1px solid #2558e6;
      }
      .ant-form-item {
        margin: 0;
      }
    }
  }
  .subTitle {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    font-weight: 500;
    margin: 28px 0 12px 0;
  }
  .label {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    text-align: left;
    line-height: 22px;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .add {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #2558e6;
    text-align: center;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .suffix {
    background: #eeeeee;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    z-index: 1;
  }
  :global {
    .ant-row {
      margin-bottom: 0;
    }
    .ant-input-number {
      width: 100%;
    }
  }
}
