.modal-wrap :global .ant-form-item-control-input-content {
  width: 100%;
  height: 100% !important;
}
.modal-wrap :global .ant-input[disabled] {
  color: #000000 !important;
}
.modal-wrap :global .ant-input-textarea {
  color: #000000 !important;
  background: #ffffff !important;
}
