<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.contract.overdue.mapper.LitigationRegistrationMapper">
    <select id="advancedList"
            resultType="cn.zswltech.mithras.contract.overdue.model.LitigationRegistration">
        select a.*
        from oc_litigation_registration a
        left join client b on a.client_id = b.id
        <where>
            <if test="query.clientId!=null">
                and a.client_id = #{query.clientId}
            </if>
            <if test="query.status!=null">
                and a.status = #{query.status}
            </if>
            <if test="query.code!=null and query.code!=''">
                and a.code like concat('%',#{query.code},'%')
            </if>
            <if test="query.contractCodes!=null and query.contractCodes!=''">
                and a.contract_codes like concat('%',#{query.contractCodes},'%')
            </if>
            <if test="query.isBizUser==true">
                and
                (b.belong_dept_id IN
                <foreach collection="query.deptIdList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
                OR b.belong_sponsor_id = #{query.currentUserId}
                )
            </if>
        </where>
        order by a.update_time desc
    </select>
</mapper>