<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.blackgray.persistence.mapper.BlackGrayBreakBusinessMapper">
  <resultMap id="BaseResultMap" type="cn.zswltech.mithras.blackgray.persistence.model.BlackGrayBreakBusiness">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="black_gray_id" jdbcType="BIGINT" property="blackGrayId" />
    <result column="proposed_business_type" jdbcType="VARCHAR" property="proposedBusinessType" />
    <result column="plan_outbound_time" jdbcType="DATE" property="planOutboundTime" />
    <result column="propose_business_scale" jdbcType="DECIMAL" property="proposeBusinessScale" />
    <result column="apply_reason" jdbcType="VARCHAR" property="applyReason" />
    <result column="audit_status" jdbcType="VARCHAR" property="auditStatus" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="queryForAudit" resultType="cn.zswltech.mithras.blackgray.dto.rsp.BlackGrayBreakBusinessApprovalTaskRSP">
    select i.*,
    a.audit_status, a.biz_type, a.latest_msg, a.id as audit_task_id, a.current_operator, a.pre_operator, a.gmt_create, a.gmt_update
    from (select * from audit_task where biz_type = 'BLACK_GRAY_BUSINESS_BREAK') a inner join black_gray_break_business i on i.id = a.biz_id
    <where>
      <if test="param.currentOperator != null">
        and a.current_operator like concat('%',#{param.currentOperator},'%')
      </if>
      <if test="param.id != null">
        and i.id = #{param.id}
      </if>
      <if test="param.enterpriseName != null">
        and i.enterprise_name like concat('%',#{param.enterpriseName},'%')
      </if>
      <if test="param.blackGrayType != null">
        and i.black_gray_type = #{param.blackGrayType}
      </if>
      <if test="param.unifiedSocialCreditCode != null">
        and i.unified_social_credit_code = #{param.unifiedSocialCreditCode}
      </if>
      <if test="param.proposedBusinessType != null">
        and i.proposed_business_type = #{param.proposedBusinessType}
      </if>
      <if test="param.auditStatus != null">
        and i.audit_status = #{param.auditStatus}
      </if>
      <if test="param.applyOrganization != null">
        and i.apply_organization = #{param.applyOrganization}
      </if>
      <if test="param.applyTimeFrom != null">
        and i.create_time between #{param.applyTimeFrom} and #{param.applyTimeTo}
      </if>
    </where>
    order by i.update_time desc, i.id desc
  </select>

</mapper>