.wrap {
  position: relative;
  .btnAction {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.ellipsis_3 {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  word-break: break-all;
}
