.desc {
  :global {
    .ant-descriptions-view {
      border-top: 1px solid #f0f0f0 !important;
    }
  }
}
.noHeader {
  :global {
    .ant-descriptions-header {
      display: none;
    }
  }
}

.add {
  font-size: 14px;
  color: #2558e6;
  text-align: center;
  line-height: 32px;
  font-weight: 400;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
