.content {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #fff;
  width: 100%;
  :global {
    .z-page-body {
      width: 100%;
    }
  }
  .left {
    margin-right: 12px;
    width: 300px;
  }
}
