.detailTitle {
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #26272a;
  line-height: 24px;
  font-weight: 500;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e3e6;
  display: flex;
  align-items: center;
  .writeOffStatus {
    padding: 3px 8px;
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    margin-left: 12px;
  }
  .TO_BE_WRITE_OFF {
    color: #ed7b2f;
    background: #fef3e6;
  }
  .WRITTEN_OFF {
    color: #00a870;
    background: #e8f8f2;
  }
  .IGNORE {
    color: #58595c;
    background: #ecedf0;
  }
  .WRITE_OFF_COMPLETED,
  .PART_WRITTEN_OFF,
  .PORTION_WRITTEN_OFF {
    color: #2558e6;
    background: #e9eefc;
  }
}
