<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zswltech.mithras.service.mapper.leaseholdproperty.LeaseItemVatInvoiceMapper">
    <select id="queryVatInvoiceList"
            resultType="cn.zswltech.mithras.service.mapper.model.leaseholdproperty.LeaseItemVatInvoice"
            parameterType="cn.zswltech.mithras.dto.leaseholdproperty.LeaseVatInvoiceQueryREQ">
        SELECT *
        FROM lease_item_vat_invoice
        WHERE deleted = '0'
        <if test="req.invoicePayerName != null and req.invoicePayerName != ''">
            AND invoice_payer_name LIKE CONCAT('%', #{req.invoicePayerName}, '%')
        </if>
        <if test="req.invoiceSellerName != null and req.invoiceSellerName != ''">
            AND invoice_seller_name LIKE CONCAT('%', #{req.invoiceSellerName}, '%')
        </if>
        <if test="req.status != null and req.status != ''">
            AND status = #{req.status}
        </if>
        <if test="req.leaseholdId != null">
            AND lease_item_info_id = #{req.leaseholdId}
        </if>
        <if test="req.invoiceIssueDateFrom != null and req.invoiceIssueDateTo != null">
            AND invoice_issue_date BETWEEN #{req.invoiceIssueDateFrom} AND #{req.invoiceIssueDateTo}
        </if>
        <if test="req.verifyResult != null and req.verifyResult != ''">
            <choose>
                <when test="req.verifyResult == 'IDENTIFY_SUCCESS'">
                    AND verify_result IN ('VERIFICATION_PASSED', 'VERIFICATION_NOT_PASSED', 'CHECK_FAILURE','VERIFICATION_FAILED')
                </when>
                <otherwise>
                    AND verify_result = #{req.verifyResult}
                </otherwise>
            </choose>
        </if>
        ORDER BY
        CASE
        WHEN note IS NOT NULL THEN create_time
        ELSE 1
        END DESC,
        create_time DESC
    </select>
    <select id="queryRepeatInvoiceNo" resultType="java.lang.String">
        SELECT invoice_no
        FROM lease_item_vat_invoice
        WHERE deleted = '0'
          AND lease_item_info_id = #{leaseholdId}
        GROUP BY invoice_no HAVING COUNT(invoice_no) > 1
    </select>
</mapper>