.accountBalanceDetail {
  .searchForm {
    margin-bottom: 16px;
    padding: 24px 24px 0;
    background: #fff;
  }
}

.accountBank {
  display: flex;
  align-items: center;
}
.bankName {
  // color: #17181a;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.accountNumber {
  font-size: 12px;
  // color: #4e5464;
}

.dateStr {
  font-size: 12px;
  color: #4e5464;
}
