.extra {
  color: #8d9099;
}
.content {
  display: flex;
  padding: 20px;
  min-height: 350px;

  .even-row {
    background-color: #f7f7f8;
  }
  .odd-row {
    background-color: #ffffff;
  }

  .pie {
    width: 310px;
    height: 220px;
    margin-right: 20px;
    margin-left: 20px;
    .title {
      color: #17181a;
      font-size: 14px;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  .table {
    flex: 1;
    :global {
      .ant-table-tbody > tr {
        height: 44px;
      }
      .ant-table-thead > tr > th {
        background-color: #fff;
        color: #8d9099;
      }
      .ant-table-thead
        > tr
        > th:not(:last-child):not(.ant-table-selection-column):not(
          .ant-table-row-expand-icon-cell
        ):not([colspan])::before {
        width: 0;
      }
    }
  }
}
