.site-pro-checkcard {
  position: relative;
  display: inline-block;
  // width: 320px;
  font-size: 14px;
  line-height: 1.5714285714285714;
  vertical-align: top;
  border-radius: 6px;
  overflow: auto;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #fff;
  &-body {
    display: flex;
    // padding-inline: 12px;
    // padding-block: 16px;
    // background-color: #fff;
    border-radius: 4px;
  }
  & ::after {
    position: absolute;
    inset-block-start: 2px;
    inset-inline-end: 2px;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-block-end: 10px solid transparent;
    border-inline-start: 10px solid transparent;
    border-start-end-radius: 6px;
    content: '';
  }
  &-bordered {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
  }
  &-checked {
    background-color: #e1f0ff;
    border-color: #1677ff;
    & ::after {
      opacity: 1;
      border: 10px solid #1677ff;
      border-block-end: 10px solid transparent;
      border-inline-start: 10px solid transparent;
      border-start-end-radius: 6px;
    }
  }
  &-disabled {
    background-color: rgba(42, 46, 54, 0.1) !important;
    border-color: #d9d9d9;
    cursor: not-allowed;
  }
}
