.detailContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detailContent > div {
  margin: 12px;
}
.btn {
  display: flex;
  justify-content: center;
}

.content {
  .content > div {
    margin: 12px;
  }
  .weightFont {
    font-weight: 700;
  }
  .weightContentFont {
    margin-top: 15px;
    font-weight: 700;
  }
}
