.tabs {
  :global {
    .ant-tabs-nav {
      &:before {
        display: none;
      }
    }
    .ant-tabs-nav-list {
      background-color: #e7e8ed;
      border-radius: 4px;
      padding: 3px;
    }
    .ant-tabs-tab {
      border-radius: 4px;
      margin: 0;
      padding: 4px 15px;
    }
    .ant-tabs-tab-active {
      background-color: #fff;
      .ant-tabs-tab-btn {
        color: #161719;
      }
    }
    .ant-tabs-ink-bar {
      display: none;
    }
  }
}
