.marginDetil {
  .marginWrap {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e3e6;
    padding: 0px 0 15px 0;
    .marginNum {
      font-family: PingFangSC-Medium;
      font-size: 16px;
      color: #26272a;
      line-height: 24px;
      font-weight: 500;
    }
    .marginStatus {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #26272a;
      line-height: 22px;
      font-weight: 400;
    }
  }
  :global(.ant-table-wrapper) {
    border-top: 1px solid #2558e6;
  }
  :global(.ant-table-wrapper) {
    border-top: 1px solid #2558e6;
  }
}
