<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.payment.PaymentActualDetailMapper">
    <select id="listContractPayInfoBetween" resultType="cn.zswltech.mithras.service.mapper.dto.ContractPayInfoDTO">
        select
        a.id as contractId,
        a.contract_code as contractCode,
        a.biz_dept_id as belongDeptId,
        ifnull(b.pay_amount,0) as payAmount,
        ifnull(c.first_rent_amount,0) as firstRentAmount
        from contract_base_info as a
        inner join (
        select
        contract_id,
        sum(paid_in_amount) as pay_amount
        from payment_actual_detail
        where paid_in_date &gt;= #{startDate} and paid_in_date &lt;= #{endDate}
        group by contract_id
        ) as b on a.id = b.contract_id
        left join (
        select
        contract_id,
        sum(collection_amount) as first_rent_amount
        from collection_base_info
        where cash_flow_item = 'FIRST_RENT'
        group by contract_id
        ) as c on a.id = c.contract_id
    </select>

    <select id="listContractPayInfoBeforeTargetDate" resultType="cn.zswltech.mithras.service.mapper.dto.ContractPayInfoDTO">
        select
        a.id as contractId,
        a.contract_code as contractCode,
        a.biz_dept_id as belongDeptId,
        ifnull(b.pay_amount,0) as payAmount,
        ifnull(c.first_rent_amount,0) as firstRentAmount,
        ifnull(d.principal_amount,0) as principalAmount
        from contract_base_info as a
        inner join (
        select
        contract_id,
        sum(paid_in_amount) as pay_amount
        from payment_actual_detail
        group by contract_id
        ) as b on a.id = b.contract_id
        left join (
        select
        contract_id,
        sum(collection_amount) as first_rent_amount
        from collection_base_info
        where cash_flow_item = 'FIRST_RENT'
        group by contract_id
        ) as c on a.id = c.contract_id
        left join (
        select
        contract_id,
        sum(collection_principal) as principal_amount
        from collection_base_info
        where cash_flow_item = 'RENT' and phase > 0 and collection_date &lt;= #{targetDate}
        group by contract_id
        ) as d on a.id = d.contract_id
        where a.contract_status in ('TAKE_EFFECT','START_RENT')
    </select>
</mapper>
