<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.third.baorong.persistence.mapper.BrFlowRecordMapper">

    <update id="syncCQFlow">
        update br_flow_record b, finance_flow_record f
        set b.ignore_flag = 2
        where b.bruid = f.cico_bruid;
    </update>

</mapper>
