.contentBox {
  margin-bottom: 16px;
  :global {
    .z-desc-item-content {
      flex-wrap: wrap;
    }
    .ant-descriptions-item-label {
      background-color: #fff;
    }
  }
}
.title-row {
  background: #f5f6fa;
  border: 1px solid #e8e8e8;
  border-bottom: 0px;
  padding: 16px 12px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}
.js {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
}

.title {
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 24px;
  font-weight: bold;
}

.subTitle {
  display: flex;
  height: 100%;
  align-self: center;
  padding: 0 12px;
  // justify-content: center;
  align-items: center;
}

.row {
  border: #e8e8e8 1px solid;
  :global {
    .ant-form-item {
      margin-bottom: 3px;
    }
  }
}
.right {
  border-left: #e8e8e8 1px solid;
  padding: 20px;
}

.tooltip {
  margin-left: 12px;
}
.tableItem {
  :global {
    .ant-form-item-control {
      min-width: 100%;
    }
  }
}
.buttonRow {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.secondTitle {
  width: 100%;
  padding: 12px;
  border: #e8e8e8 1px solid;
  background-color: #f3f3f3;
}
