.action {
  display: flex;
  align-items: center;
  justify-content: center;
  .countWrap {
    margin: 0 12px;
  }
  .currentPage {
    font-weight: bold;
    font-size: 14px;
  }
  .totalPage {
    color: #82858e;
    font-size: 14px;
  }
  .icon {
    font-size: 32px;
    cursor: pointer;
    color: #2558e6;
    &.disabled {
      color: #e2e3e6;
    }
  }
}
