.contractDownPayment {
  .contractTitle {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #58595c;
    line-height: 22px;
    font-weight: 400;
  }
  .contractWrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
  }
  :global(.ant-table-wrapper) {
    border-top: 1px solid #2558e6;
  }
}
