.customerWrap {
  :global(.ant-table-wrapper) {
    border-top: 1px solid #2558e6;
  }
  .customerTitle {
    text-align: left;
    // width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .clientCode {
    // width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.inputNumber{
  width: 100%;
}