.parameters {
  :global {
    .ant-card {
      margin-bottom: 16px;
    }

    .ant-form-item {
      margin-bottom: 16px;
    }

    .editable-row {
      td {
        padding: 16px 8px;
      }
    }
  }
}

.indicatorCard {
  :global {
    .ant-form-item-label {
      width: 100px;
    }
  }
}
