.contentBox {
  margin-bottom: 16px;
  :global {
    .z-desc-item-content {
      flex-wrap: wrap;
    }
    .ant-descriptions-item-label {
      background-color: #fff;
    }
  }
}
.title-row {
  background: #f5f6fa;
  border: 1px solid #e8e8e8;
  border-bottom: 0px;
  padding: 16px 12px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}
.js {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
}

.title {
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 24px;
  font-weight: bold;
}
