<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.lib.assetclassify.AssetClassifyClientAuxiliaryLibMapper">

    <select id="newestClassifyClientLib"
            resultType="cn.zswltech.mithras.service.mapper.model.assetclassify.AssetClassifyClientAuxiliaryLib">
        SELECT p.*
        FROM asset_classify_client_auxiliary_lib p
                 INNER JOIN (SELECT main_id AS id, MAX(version) AS version
                             FROM common_version t1
                             WHERE t1.module = 'ASSET_CLASSIFY'
                               AND t1.version_type = 1
                             GROUP BY main_id) m ON p.asset_classify_id = m.id AND p.version = m.version
        WHERE p.asset_classify_id = #{mainId}
    </select>

    <select id="listNewestClassifyLibByClientId"
            resultType="cn.zswltech.mithras.service.mapper.model.assetclassify.AssetClassifyClientAuxiliaryLib">
        SELECT p.* FROM asset_classify_client_auxiliary_lib p
        INNER JOIN (SELECT main_id AS id, MAX(version) AS version FROM common_version t1
        WHERE t1.module = 'ASSET_CLASSIFY' AND t1.version_type = 1
        GROUP BY main_id) m ON p.asset_classify_id = m.id AND p.version = m.version
        <where>
            <if test="clientIds != null and clientIds.size() > 0">
                p.client_id IN
                <foreach collection="clientIds" item="clientId" open="(" separator="," close=")">
                    #{clientId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="listNewestClassifyLibByClientIdAndAssetClassifyId"
            resultType="cn.zswltech.mithras.service.mapper.model.assetclassify.AssetClassifyClientAuxiliaryLib">
        SELECT p.* FROM asset_classify_client_auxiliary_lib p
        INNER JOIN (SELECT main_id AS id, MAX(version) AS version FROM common_version t1
        WHERE t1.module = 'ASSET_CLASSIFY' AND t1.version_type = 1
        GROUP BY main_id) m ON p.asset_classify_id = m.id AND p.version = m.version
        <where>
        p.asset_classify_id = #{assetClassifyId}
            <if test="clientIds != null and clientIds.size() > 0">
               and p.client_id IN
                <foreach collection="clientIds" item="clientId" open="(" separator="," close=")">
                    #{clientId}
                </foreach>
            </if>
        </where>
    </select>
</mapper>