<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.budget.BudgetPlanCostDetailFundMapper">
    <select id="selectGroupByYearMonth" resultType="cn.zswltech.mithras.service.mapper.dto.BudgetPlanCostDetailFundGroupMonthDTO">
        select
            year,
            month,
            sum(ifnull(repay_amount,0)) as repayAmountSum,
            sum(ifnull(principal,0)) as principalSum,
            sum(ifnull(interest,0)) as interestSum
        from budget_plan_cost_detail_fund
        where deleted = 0
          and budget_plan_cost_id = #{budgetPlanCostId}
        group by year,month
    </select>
</mapper>