<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.budget.BudgetPlanPayDetailPriceMapper">
    <select id="calculatePrincipalBalance" resultType="long">
        select
            sum(ifnull(project_amount,0))
        from budget_plan_pay_detail_price
        where 1=1 and deleted = 0
          and budget_plan_pay_detail_id in
          <foreach collection="budgetPlanPayDetailIds" item="budgetPlanPayDetailId" separator="," open="(" close=")">
              #{budgetPlanPayDetailId}
          </foreach>
          and pay_date &gt;= #{budgetWriteDateFrom}
          and pay_date &lt; #{budgetDateFrom}
    </select>
</mapper>