<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.budget.BudgetPlanPayDetailCashFlowMapper">
    <select id="calculatePrincipalBalance" resultType="long">
        select
            ifnull(sum(ifnull(principal, 0)),0)
        from budget_plan_pay_detail_cash_flow
        where 1=1 and deleted = 0
        and budget_plan_pay_detail_id in
        <if test="budgetPlanPayDetailIds != null and budgetPlanPayDetailIds.size() > 0">
            <foreach collection="budgetPlanPayDetailIds" item="detailId" separator="," open="(" close=")">
                #{detailId}
            </foreach>
        </if>
        and cash_flow_date &gt;= #{targetDate}
        and #{targetDate} >= #{payDate}
    </select>
</mapper>