<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.client.ClientVwSyncMapper">

    <select id="selectAddListByRecord" resultType="cn.zswltech.mithras.service.mapper.model.client.ClientVwSync">
        SELECT
            s.id,
            s.client_id,
            s.cert_number,
            s.client_name
        FROM client_vw_sync s
        LEFT JOIN client_sand_record r
        ON s.cert_number = r.usc_code AND r.data_type = 'A'
        WHERE r.usc_code IS null
    </select>

    <select id="selectWbClientByRecord" resultType="cn.zswltech.mithras.service.mapper.model.client.ClientVwSync">
        SELECT
        s.id,
        s.client_id,
        s.cert_number,
        s.client_name
        FROM client_vw_sync s
        LEFT JOIN client_sand_record r
        ON s.cert_number = r.usc_code
        WHERE r.data_source = 'WB'
    </select>

</mapper>
