<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.collection.CollectionOverdueHistoryMapper">


    <select id="getHistoryByDay" resultType="cn.zswltech.mithras.service.mapper.model.collection.CollectionOverdueHistory">
        select *
        from collection_overdue_history
        where collection_id = #{collectionId}
          and batch_number in (select max(batch_number)
                               from collection_overdue_history
                               where collection_id = #{collectionId}
                               group by DATE_FORMAT(create_time, '%Y%m%d'))
    </select>

    <select id="getOverdueCollection"
            resultType="cn.zswltech.mithras.service.overdue.infrastructure.dao.model.OverdueCollection">
        select a.client_id           as clientId,
               max(a.overdue_days)   as curMaxOverdueDays,
               sum(a.overdue_amount) as overdueRent,
               b.lateCharge          as lateCharge
        from (select id,
                     client_id,
                     contract_id,
                     phase,
                     (if(isnull(plan_collection_amount), 0, plan_collection_amount) - if(isnull(collection_amount), 0,
                                                                                         collection_amount)) as overdue_amount,
                     TIMESTAMPDIFF(DAY,plan_collection_date,
                                       DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%S'))                              as overdue_days
              from collection_base_info
        where ((ifnull(principal,0) > ifnull(collection_principal,0)) or (ifnull(interest,0) > ifnull(collection_interest,0))) and cash_flow_item = 'RENT' AND plan_collection_date &lt;
        CURRENT_DATE) a
        left join (
            select
                client_id,
                sum(ifnull(penalty_interest, 0)) - sum(ifnull(collection_penalty_interest, 0)) as lateCharge
            from collection_base_info
            group by client_id
        ) as b on a.client_id = b.client_id
        <where>
            <if test="clientIds != null and clientIds.size() > 0">
                and a.client_id in
                <foreach collection="clientIds" item="clientId" separator="," open="(" close=")">
                    #{clientId}
                </foreach>
            </if>
        </where>
        group by clientId;
    </select>
</mapper>
