<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.kpi.KpiProjGuessBaseInfoMapper">

    <resultMap id="detailMap" type="cn.zswltech.mithras.service.mapper.dto.kpi.KpiProjGuessDetailDTO">
        <collection select="weightList" javaType="java.util.ArrayList" property="kpiProjGuessDivides"
                    ofType="cn.zswltech.mithras.service.mapper.model.kpi.KpiProjGuessDivide"
                    column="{kpi_proj_guess_id=id}">
        </collection>
    </resultMap>

    <select id="getContractGuess" resultType="cn.zswltech.mithras.service.mapper.dto.kpi.KpiProjGuessContractDTO">
        SELECT
        a.id id,
        a.contract_id contract_id,
        a.receipt_id receipt_id,
        b.contract_code contract_code,
        b.proj_name proj_name,
        b.proj_classify proj_classify,
        b.proj_source proj_source,
        b.contract_start_date contract_start_date,
        b.profit_belong_dept_id belong_dept_id,
        c.proj_sponsor_user_id sponsor_user_id,
        a.profit_current profit_current,
        a.profit_total profit_total,
        a.profit_adjust profit_adjust,
        a.bonus_current bonus_current,
        a.bonus_total bonus_total,
        a.calculate_date_year calculate_date_year,
        a.calculate_date_month calculate_date_month,
        a.payment_current payment_current,
        a.payment_total payment_total
        FROM
        kpi_proj_guess_base_info a,
        kpi_project_distribution_base_info_lib b,
        contract_base_info c
        <where>
            a.kpi_project_distribution_id = b.project_distribution_id
            and a.contract_id = c.id
            and a.kpi_project_distribution_version = b.version
            <if test="param.contractCode!=null"> and b.contract_code like CONCAT('%',#{param.contractCode},'%')</if>
            <if test="param.projName!=null"> and b.proj_name like CONCAT('%',#{param.projName},'%')</if>
            <if test="param.deptId!=null"> and b.profit_belong_dept_id = #{param.deptId}</if>
            <if test="param.userId!=null"> and c.proj_sponsor_user_id = #{param.userId}</if>
            <if test="param.sponsorUserId!=null"> and c.proj_sponsor_user_id = #{param.sponsorUserId}</if>
            <if test="param.calculateDateYear!=null"> and a.calculate_date_year = #{param.calculateDateYear}</if>
            <if test="param.calculateDateMonth!=null"> and a.calculate_date_month = #{param.calculateDateMonth}</if>
        </where>
        order by a.calculate_date_year desc, a.calculate_date_month desc, a.contract_id desc
    </select>

    <select id="getDetailGuess" resultMap="detailMap">
        SELECT
        a.id id,
        a.contract_id as contract_id,
        a.receipt_id as receipt_id,
        a.award_ratio award_ratio,
        a.kpi_project_distribution_id project_distribution_id,
        a.kpi_project_distribution_id kpi_project_distribution_id,
        a.kpi_project_distribution_version version,
        b.contract_code contract_code,
        b.proj_name proj_name,
        b.proj_classify proj_classify,
        b.proj_source proj_source,
        b.contract_start_date contract_start_date,
        b.profit_belong_dept_id belong_dept_id,
        c.proj_sponsor_user_id sponsor_user_id,
        a.profit_current profit_current,
        a.profit_total profit_total,
        a.bonus_current bonus_current,
        a.bonus_total bonus_total,
        a.payment_current payment_current,
        a.payment_total payment_total,
        a.calculate_date_year calculate_date_year,
        a.calculate_date_month calculate_date_month,
        c.biz_type,
        c.lease_type,
        c.factoring_type,
        c.zr_type,
        a.proj_payment_year_amount,
        a.contract_payment_month_amount
        FROM
        kpi_proj_guess_base_info a,
        kpi_project_distribution_base_info_lib b,
        contract_base_info c
        <where>
            a.kpi_project_distribution_id = b.project_distribution_id
            and a.contract_id = c.id
            and a.kpi_project_distribution_version = b.version
            <if test="param.contractId!=null"> and a.contract_id = #{param.contractId}</if>
            <if test="param.calculateDateYear!=null"> and a.calculate_date_year = #{param.calculateDateYear}</if>
            <if test="param.calculateDateMonth!=null"> and a.calculate_date_month = #{param.calculateDateMonth}</if>
            <if test="param.sponsorUserId!=null"> and c.proj_sponsor_user_id = #{param.sponsorUserId}</if>
            <if test="param.deptId!=null"> and b.profit_belong_dept_id = #{param.deptId}</if>
        </where>
        order by a.calculate_date_year desc, a.calculate_date_month desc, a.contract_id desc
    </select>


    <select id="weightList" resultType="cn.zswltech.mithras.service.mapper.model.kpi.KpiProjGuessDivide">
        select * from kpi_proj_guess_divide where kpi_proj_guess_id = #{kpi_proj_guess_id}
    </select>

    <select id="projManager" resultType="cn.zswltech.mithras.service.mapper.dto.kpi.KpiProjGuessProjDTO">
        select a.calculate_date_year,
               a.calculate_date_month,
               a.profit_current  as profitCurrent,
               a.profit_total    as profit_total,
               b.bonus_current   as bonus_current,
               b.payment_current as payment_current,
               c.bonus_current   as bonus_current_deputy,
               c.payment_current as
                                    payment_current_deputy
        from (SELECT a.calculate_date_year,
                     a.calculate_date_month,
                     sum(a.profit_current) as profit_current,
                     sum(a.profit_total)   as profit_total
              FROM kpi_proj_guess_base_info a

              group by a.calculate_date_year, a.calculate_date_month) a,

             (SELECT a.divide_year,
                     a.divide_month,
                     sum(a.bonus_current)   as bonus_current,
                     sum(a.payment_current) as payment_current
              FROM kpi_proj_guess_divide a
              where a.divide_type = 'PROJECT_SPONSOR'
              group by a.divide_year, a.divide_month) b,

             (SELECT a.divide_year,
                     a.divide_month,
                     sum(a.bonus_current)   as bonus_current,
                     sum(a.payment_current) as payment_current
              FROM kpi_proj_guess_divide a
              where a.divide_type = 'PROJECT_COSPONSOR'
              group by a.divide_year, a.divide_month) c
        where a.calculate_date_year = b.divide_year
        and a.calculate_date_month = b.divide_month
        and a.calculate_date_year = c.divide_year
        and a.calculate_date_month = c.divide_month
        <if test="param.calculateDateYear!=null">and a.calculate_date_year = #{param.calculateDateYear}</if>
        <if test="param.calculateDateMonth!=null">and a.calculate_date_month = #{param.calculateDateMonth}</if>
        order by calculate_date_year desc, calculate_date_month desc
    </select>

    <select id="projManagerDetail" resultType="cn.zswltech.mithras.service.mapper.dto.kpi.KpiProjGuessProjDetailDTO">
        SELECT a.dept_id,
        a.divide_type,
        a.divide_target as divide_target_id,
        sum(a.bonus_current) as bonus_current,
        sum(a.payment_current) as payment_current
        FROM kpi_proj_guess_divide a
        where a.divide_type = #{param.divideType}
        and a.divide_year = #{param.calculateDateYear} and a.divide_month = #{param.calculateDateMonth}
        <if test="param.deptId!=null">
            and a.dept_id = #{param.deptId}
        </if>
        <if test="param.divideType!=null">
            and a.divide_type = #{param.divideType}
        </if>
        <if test="param.divideTargetId!=null">
            and a.divide_target = #{param.divideTargetId}
        </if>
        <if test="param.sponsorUserId!=null">
          and a.divide_type != 'BUSINESS_DEPT'
          and a.divide_target = #{param.sponsorUserId}
        </if>
        group by a.dept_id, a.divide_type, a.divide_target
        order by a.dept_id desc, a.divide_type desc, a.divide_target desc
    </select>

    <select id="projManagerDivideTypeDetail" resultType="cn.zswltech.mithras.service.mapper.dto.kpi.KpiProjGuessProjDetailDTO">
        select a.dept_id,
        a.divide_type,
        a.divide_target divide_target_id,
        a.bonus_current  as bonus_current,
        a.payment_current    as payment_current
        from
        (SELECT a.dept_id,
        a.divide_type,
        a.divide_target,
        sum(a.bonus_current)   as bonus_current,
        sum(a.payment_current) as payment_current
        FROM kpi_proj_guess_divide a
        where a.divide_type = #{param.divideType}
        and a.divide_year = #{param.calculateDateYear} and a.divide_month = #{param.calculateDateMonth}
        group by a.dept_id, a.divide_type, a.divide_target) a
        <where>
            <if test="param.deptId!=null">
                and a.dept_id = #{param.deptId}
            </if>
            <if test="param.divideType!=null">
                and a.divide_type = #{param.divideType}
            </if>
            <if test="param.divideTargetId!=null">
                and a.divide_target = #{param.divideTargetId}
            </if>
            <if test="param.sponsorUserId!=null">
                and a.divide_type != 'BUSINESS_DEPT'
                and a.divide_target = #{param.sponsorUserId}
            </if>
        </where>
        order by a.dept_id desc, a.divide_type desc, a.divide_target desc
    </select>


    <select id="projManagerCompletion" resultType="cn.zswltech.mithras.service.mapper.dto.kpi.KpiProjGuessProjCompletionDTO">
        select a.calculate_date_year divide_year,
               a.calculate_date_month divide_month,
               a.profit_current  as profitCurrent,
               a.profit_total    as profit_total,
               c.bonus_current   as bonus_Current,
               c.payment_current as payment_current,
               b.bonus_current   as bonusCurrentAdd,
               b.payment_current as paymentCurrentAdd,

               d.bonus_current   as bonusCurrentDeputy,
               d.payment_current as paymentCurrentDeputy,
               e.bonus_current   as bonusCurrentDeputyAdd,
               e.payment_current as paymentCurrentDeputyAdd
        from (SELECT a.calculate_date_year,
                     a.calculate_date_month,
                     sum(a.profit_current) as profit_current,
                     sum(a.profit_total)   as profit_total
              FROM kpi_proj_guess_base_info a

              group by a.calculate_date_year, a.calculate_date_month) a
                 left join
             (SELECT a.divide_year,
                     a.divide_month,
                     a.kpi_proj_guess_id,
                     sum(a.bonus_current)   as bonus_current,
                     sum(a.payment_current) as payment_current,
                     b.id,
                     b.proj_source
              FROM kpi_proj_guess_divide a
                       inner join kpi_proj_guess_base_info b on a.kpi_proj_guess_id = b.id
              where a.divide_type = 'PROJECT_SPONSOR'
                and b.proj_source = 'NEW'
              group by a.divide_year, a.divide_month, a.kpi_proj_guess_id) b on a.calculate_date_year = b.divide_year
                 and a.calculate_date_month = b.divide_month
                 left join
             (SELECT a.divide_year,
                     a.divide_month,
                     a.kpi_proj_guess_id,
                     sum(a.bonus_current)   as bonus_current,
                     sum(a.payment_current) as payment_current,
                     b.id,
                     b.proj_source
              FROM kpi_proj_guess_divide a
                       inner join kpi_proj_guess_base_info b on a.kpi_proj_guess_id = b.id
              where a.divide_type = 'PROJECT_SPONSOR'
                and b.proj_source = 'HISTORY'
              group by a.divide_year, a.divide_month, a.kpi_proj_guess_id) c on a.calculate_date_year = c.divide_year
                 and a.calculate_date_month = c.divide_month
                 left join
             (SELECT a.divide_year,
                     a.divide_month,
                     a.kpi_proj_guess_id,
                     sum(a.bonus_current)   as bonus_current,
                     sum(a.payment_current) as payment_current,
                     b.id,
                     b.proj_source
              FROM kpi_proj_guess_divide a
                       inner join kpi_proj_guess_base_info b on a.kpi_proj_guess_id = b.id
              where a.divide_type = 'PROJECT_COSPONSOR'
                and b.proj_source = 'NEW'
              group by a.divide_year, a.divide_month, a.kpi_proj_guess_id) d on a.calculate_date_year = d.divide_year
                 and a.calculate_date_month = d.divide_month
                 left join
             (SELECT a.divide_year,
                     a.divide_month,
                     a.kpi_proj_guess_id,
                     sum(a.bonus_current)   as bonus_current,
                     sum(a.payment_current) as payment_current,
                     b.id,
                     b.proj_source
              FROM kpi_proj_guess_divide a
                       inner join kpi_proj_guess_base_info b on a.kpi_proj_guess_id = b.id
              where a.divide_type = 'PROJECT_COSPONSOR'
                and b.proj_source = 'HISTORY'
              group by a.divide_year, a.divide_month, a.kpi_proj_guess_id) e on a.calculate_date_year = e.divide_year
                 and a.calculate_date_month = e.divide_month
        group by a.calculate_date_year, a.calculate_date_month
        order by a.calculate_date_year desc, a.calculate_date_month desc
    </select>

    <select id="projManagerCompletionDetail" resultType="cn.zswltech.mithras.service.mapper.dto.kpi.KpiProjGuessProjCompletionDetailDTO">
        SELECT
               a.dept_id deptId,
            a.kpi_proj_guess_id,
               a.divide_type,
               a.divide_target,
            sum(a.bonus_current)   as bonus_current,
            sum(a.payment_current) as payment_current
        FROM kpi_proj_guess_divide a inner join kpi_proj_guess_base_info b on a.kpi_proj_guess_id = b.id
        <where>
            <if test="param.calculateDateYear!=null and param.calculateDateYear!=''">
                and a.divide_year = #{param.calculateDateYear}
            </if>
            <if test="param.calculateDateMonth!=null and param.calculateDateMonth!=''">
                and a.divide_month = #{param.calculateDateMonth}
            </if>
            <if test="param.projClassify!=null and param.projClassify!=''">
                and b.proj_classify = #{param.projClassify}
            </if>
            <if test="param.projSource!=null and param.projSource!=''">
                and b.proj_source = #{param.projSource}
            </if>
            <if test="param.divideType!=null and param.divideType!=''">
                and a.divide_type = #{param.divideType}
            </if>
            <if test="param.deptId!=null and param.deptId!=''">
                and a.dept_id = #{param.deptId}
            </if>
            <if test="param.sponsorUserId!=null">
                and a.divide_type != 'BUSINESS_DEPT'
                and a.divide_target = #{param.sponsorUserId}
            </if>
        </where>
        group by a.dept_id, a.divide_type, a.divide_target
    </select>

    <select id="deptPool" resultType="cn.zswltech.mithras.service.mapper.dto.kpi.KpiProjGuessDeptPooleDTO">
        SELECT a.divide_year                                                              divide_year,
               a.divide_month                                                             divide_month,
               sum(a.profit_total)                                                     as profit_total,
               sum(a.bonus_total)                                                      as bonus_total,
               sum(a.payment_total)                                                    as payment_total,
               sum(a.payment_total)                                                    as payment_total_amount,
               sum(a.bonus_total) + sum(a.payment_total) as amount
        FROM kpi_proj_guess_divide a
        where a.divide_type = 'BUSINESS_DEPT'
        <if test="param.sponsorUserId!=null">
            and a.divide_type != 'BUSINESS_DEPT'
            and a.divide_target = #{param.sponsorUserId}
        </if>
        group by a.divide_year, a.divide_month
        order by a.divide_year desc, a.divide_month desc
    </select>

</mapper>
