<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.kpi.KpiProjectDistributionWeightMapper">
    <select id="listProjectDistributionIdsByCondition" resultType="java.lang.Long">
        select distinct project_distribution_id from kpi_project_distribution_weight
        <where>
            <if test="query.sponsorUserIdWeight != null">
                and (weight_type = 'PROJECT_SPONSOR' and weight_target = #{query.sponsorUserIdWeight})
            </if>
            <if test="query.projCosponsorUserIdWeight != null">
                and (weight_type = 'PROJECT_COSPONSOR' and weight_target = #{query.projCosponsorUserIdWeight})
            </if>
            <if test="query.bizDeptIdWeight != null">
                and (weight_type = 'BUSINESS_DEPT' and weight_target = #{query.bizDeptIdWeight})
            </if>
        </where>
    </select>
</mapper>
