<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.projestablish.ProjEstablishBaseInfoMapper">

    <select id="myList" resultType="cn.zswltech.mithras.service.mapper.model.projestablish.ProjEstablishBaseInfo">
        select proj.*
        from proj_establish_base_info proj left join proj_review_base_info pr on proj.id = pr.proj_establish_id and pr.proj_review_status !='CLOSED' and pr.proj_review_status != 'EXPIRE'
        <where>
            <if test="dto.clientId!=null">and proj.client_id=#{dto.clientId}</if>
            <if test="dto.projName!=null and dto.projName!=''">and proj.proj_name like CONCAT('%',#{dto.projName},'%')</if>
            <if test="dto.projCode!=null and dto.projCode!=''">and proj.proj_code like CONCAT('%',#{dto.projCode}, '%')
            </if>
            <if test="dto.bizType!=null and dto.bizType!=''">and proj.biz_type = #{dto.bizType}</if>
            <if test="dto.bizDeptId!=null">and proj.biz_dept_id=#{dto.bizDeptId}</if>
            <if test="dto.projSponsorUserId!=null">and proj.proj_sponsor_user_id=#{dto.projSponsorUserId}</if>
            <if test="dto.projCosponsorUserId!=null">
                and json_contains(proj.proj_cosponsor_user_ids, CONVERT(#{dto.projCosponsorUserId},CHAR))
            </if>
            <if test="dto.projEstablishStatus!=null">and proj.proj_establish_status=#{dto.projEstablishStatus}</if>
            <if test="dto.projEstablishProcessStatus!=null">and
                proj.proj_establish_process_status=#{dto.projEstablishProcessStatus}
            </if>
            <if test="dto.createFrom!=null">and proj.create_time &gt;= #{dto.createFrom}</if>
            <if test="dto.createTo!=null">and proj.create_time &lt;= #{dto.createTo}</if>
            <if test="dto.updateFrom!=null">and proj.update_time &gt;= #{dto.updateFrom}</if>
            <if test="dto.updateTo!=null">and proj.update_time &lt;= #{dto.updateTo}</if>
            <include refid="cn.zswltech.mithras.CommonMapper.authSqlSpecial2" />
        </where>
        order by update_time desc
    </select>

    <select id="lifecycleList" resultType="cn.zswltech.mithras.service.mapper.dto.ProjLifecycleListDTO">
        select
        proj.*,
        GROUP_CONCAT(distinct c.contract_status) as contractStatuses,
        IF(proj.projReviewId IS NULL, 'PROJESTABLISH_STAGE', IF(c.id IS NULL, 'PROJREVIEW_STAGE', IF(GROUP_CONCAT(distinct c.contract_status) != 'SETTLE', 'CONTRACT_STAGE', 'CONTRACTSETTLE_STAGE'))) AS projStage
        from
        (
        select
        e.id,
        CONCAT(e.id, 'ESTABLISH') as `key`,
        proj_name projName,
        client_id clientId,
        IF(pr.id IS NOT NULL, pr.proj_sponsor_user_id, e.proj_sponsor_user_id) projSponsorUserId,
        IF(pr.id IS NOT NULL, pr.proj_cosponsor_user_ids, e.proj_cosponsor_user_ids) projCosponsorUserIds,
        biz_dept_id bizDeptId,
        biz_type bizType,
        lease_types leaseTypes,
        create_time createTime,
        'PROJ_ESTABLISH' as dataType,
        proj_establish_status as projStatus,
        pr.id AS projReviewId,
        pr.proj_review_status AS projReviewStatus
        from
        proj_establish_base_info e
        LEFT JOIN (select id,proj_review_status,proj_establish_id,proj_sponsor_user_id,proj_cosponsor_user_ids from proj_review_base_info pt1) pr ON e.id = pr.proj_establish_id AND pr.proj_review_status != 'CLOSED'
        where proj_establish_status != 'CLOSED'
        and proj_establish_status != 'EXPIRE'
        union all
        select
        *
        from
        (
        select
        id,
        CONCAT(id, 'REVIWE') as `key`,
        proj_name projName,
        client_id clientId,
        proj_sponsor_user_id projSponsorUserId,
        proj_cosponsor_user_ids projCosponsorUserIds,
        biz_dept_id bizDeptId,
        biz_type bizType,
        lease_types leaseTypes,
        create_time createTime,
        'GROUP_CREDIT_REVIEW' as dataType,
        proj_review_status as projStatus,
        id AS projReviewId,
        proj_review_status AS projReviewStatus
        from
        proj_review_base_info t1
        where
        t1.relation_data_type = 'GROUP_CREDIT_REVIEW'
        and t1.proj_review_status != 'CLOSED'
        and t1.proj_review_status != 'EXPIRE') r
        ) proj
        left join contract_base_info c on
        c.proj_review_id = proj.projReviewId
        where
        proj.projStatus != 'PEND_TAKE_EFFECT'
        and proj.projStatus != 'CLOSED'
        and (proj.projReviewId is null or proj.projReviewStatus != 'PEND_TAKE_EFFECT')
        <include refid="cn.zswltech.mithras.CommonMapper.authSqlSpecial3" />
        <if test="dto.clientId!=null">and proj.clientId=#{dto.clientId}</if>
        <if test="dto.projName!=null and dto.projName!=''">and proj.projName like CONCAT('%',#{dto.projName},'%')</if>
        <if test="dto.bizType!=null and dto.bizType!=''">and proj.bizType = #{dto.bizType}</if>
        <if test="dto.bizDeptId!=null">and proj.bizDeptId=#{dto.bizDeptId}</if>
        <if test="dto.projSponsorUserId!=null">and proj.projSponsorUserId=#{dto.projSponsorUserId}</if>
        <if test="dto.createFrom!=null">and proj.createTime &gt;= #{dto.createFrom}</if>
        <if test="dto.createTo!=null">and proj.createTime &lt;= #{dto.createTo}</if>
        <if test="dto.projStage == 'PROJREVIEW_STAGE'.toString()">
            and proj.projReviewId is not null
            and c.id is null
        </if>
        <if test="dto.projStage == 'PROJESTABLISH_STAGE'.toString()">
            and proj.projReviewId is null
            and c.id is null
        </if>
        group by
        proj.`key`
        <if test="dto.projStage == 'CONTRACTSETTLE_STAGE'.toString()">
            HAVING GROUP_CONCAT(DISTINCT c.contract_status) = 'SETTLE'
        </if>
        <if test="dto.projStage == 'CONTRACT_STAGE'.toString()">
            HAVING GROUP_CONCAT(DISTINCT c.contract_status) != 'SETTLE'
        </if>
        order by
        proj.id desc
    </select>

    <select id="clientLifecycleList" resultType="cn.zswltech.mithras.service.mapper.dto.ProjLifecycleListDTO">
        select
        proj.*,
        GROUP_CONCAT(distinct c.contract_status) as contractStatuses,
        IF(proj.projReviewId IS NULL, 'PROJESTABLISH_STAGE', IF(c.id IS NULL, 'PROJREVIEW_STAGE', IF(GROUP_CONCAT(distinct c.contract_status) != 'SETTLE', 'CONTRACT_STAGE', 'CONTRACTSETTLE_STAGE'))) AS projStage
        from
        (
        select
        e.id,
        CONCAT(e.id, 'ESTABLISH') as `key`,
        proj_name projName,
        client_id clientId,
        IF(pr.id IS NOT NULL, pr.proj_sponsor_user_id, e.proj_sponsor_user_id) projSponsorUserId,
        IF(pr.id IS NOT NULL, pr.proj_cosponsor_user_ids, e.proj_cosponsor_user_ids) projCosponsorUserIds,
        biz_dept_id bizDeptId,
        biz_type bizType,
        lease_types leaseTypes,
        create_time createTime,
        'PROJ_ESTABLISH' as dataType,
        proj_establish_status as projStatus,
        pr.id AS projReviewId,
        pr.proj_review_status AS projReviewStatus
        from
        proj_establish_base_info e
        LEFT JOIN (select id,proj_review_status,proj_establish_id,proj_sponsor_user_id,proj_cosponsor_user_ids from proj_review_base_info pt1) pr ON e.id = pr.proj_establish_id AND pr.proj_review_status != 'CLOSED'
        where proj_establish_status != 'CLOSED'
        and proj_establish_status != 'EXPIRE'
        union all
        select
        *
        from
        (
        select
        id,
        CONCAT(id, 'REVIWE') as `key`,
        proj_name projName,
        client_id clientId,
        proj_sponsor_user_id projSponsorUserId,
        proj_cosponsor_user_ids projCosponsorUserIds,
        biz_dept_id bizDeptId,
        biz_type bizType,
        lease_types leaseTypes,
        create_time createTime,
        'GROUP_CREDIT_REVIEW' as dataType,
        proj_review_status as projStatus,
        id AS projReviewId,
        proj_review_status AS projReviewStatus
        from
        proj_review_base_info t1
        where
        t1.relation_data_type = 'GROUP_CREDIT_REVIEW'
        and t1.proj_review_status != 'CLOSED' and t1.proj_review_status != 'EXPIRE') r
        ) proj
        left join contract_base_info c on
        c.proj_review_id = proj.projReviewId
        where
        proj.projStatus != 'PEND_TAKE_EFFECT'
        and proj.projStatus != 'CLOSED'
        and (proj.projReviewId is null or proj.projReviewStatus != 'PEND_TAKE_EFFECT')
        <if test="dto.clientIds!=null">and proj.clientId IN
            <foreach collection="dto.clientIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach></if>
        group by
        proj.`key`
        order by
        proj.clientId desc
    </select>

    <select id="lifecycleStatistics" resultType="cn.zswltech.mithras.service.mapper.dto.ProjLifecycleStatisticsDTO">
        select
        COUNT(*) AS totalCount,
        COUNT(IF(prId IS NULL, true, null)) AS establishCount,
        COUNT(IF(prId IS NOT NULL AND cId IS NULL, true, null)) AS reviewCount,
        COUNT(IF(cId IS NOT NULL AND contractStatuses != 'SETTLE', true, null)) AS contractCount,
        COUNT(IF(cId IS NOT NULL AND contractStatuses = 'SETTLE', true, null)) AS contractSettleCount,
        COUNT(IF(projCreateTime > #{dto.addLimitTime}, true, null)) AS addTotalCount,
        COUNT(IF(prId IS NULL AND projCreateTime > #{dto.addLimitTime}, true, null)) AS addEstablishCount,
        COUNT(IF(prId IS NOT NULL AND cId IS NULL AND reviewCreateTime > #{dto.addLimitTime}, true, null)) AS addReviewCount,
        COUNT(IF(cId IS NOT NULL AND contractStatuses != 'SETTLE' AND contractCreateTime > #{dto.addLimitTime}, true, null)) AS addContractCount,
        COUNT(IF(cId IS NOT NULL AND contractStatuses = 'SETTLE' AND contractSettleTime > #{dto.addLimitTime}, true, null)) AS addContractSettleCount

        FROM
        (select
        proj.key as projKey, proj.dataType, proj.projReviewId as prId, c.id as cId, GROUP_CONCAT(DISTINCT c.contract_status) AS contractStatuses,
        MAX(proj.createTime) AS projCreateTime, MAX(proj.projReviewCreateTime) AS reviewCreateTime, MAX(c.create_time) AS contractCreateTime, MAX(c.settle_time) AS contractSettleTime
        from
        (
        select
        e.id,
        CONCAT(e.id, 'ESTABLISH') as `key`,
        proj_name projName,
        client_id clientId,
        IF(pr.id IS NOT NULL, pr.proj_sponsor_user_id, e.proj_sponsor_user_id) projSponsorUserId,
        IF(pr.id IS NOT NULL, pr.proj_cosponsor_user_ids, e.proj_cosponsor_user_ids) projCosponsorUserIds,
        biz_dept_id bizDeptId,
        biz_type bizType,
        lease_types leaseTypes,
        e.create_time createTime,
        'PROJ_ESTABLISH' as dataType,
        proj_establish_status as projStatus,
        pr.id AS projReviewId,
        pr.proj_review_status AS projReviewStatus,
        pr.create_time AS projReviewCreateTime
        from
        proj_establish_base_info e
        LEFT JOIN (select id,proj_review_status,proj_establish_id,proj_sponsor_user_id,proj_cosponsor_user_ids,create_time from proj_review_base_info pt1) pr ON e.id = pr.proj_establish_id AND pr.proj_review_status != 'CLOSED'
        where proj_establish_status != 'CLOSED'
        and proj_establish_status != 'EXPIRE'
        union all
        select
        *
        from
        (
        select
        id,
        CONCAT(id, 'REVIWE') as `key`,
        proj_name projName,
        client_id clientId,
        proj_sponsor_user_id projSponsorUserId,
        proj_cosponsor_user_ids projCosponsorUserIds,
        biz_dept_id bizDeptId,
        biz_type bizType,
        lease_types leaseTypes,
        create_time createTime,
        'GROUP_CREDIT_REVIEW' as dataType,
        proj_review_status as projStatus,
        id AS projReviewId,
        proj_review_status AS projReviewStatus,
        create_time AS projReviewCreateTime
        from
        proj_review_base_info t1
        where
        t1.relation_data_type = 'GROUP_CREDIT_REVIEW'
        and t1.proj_review_status != 'CLOSED' and t1.proj_review_status != 'EXPIRE') r
        ) proj
        left join contract_base_info c on
        c.proj_review_id = proj.projReviewId
        where proj.projStatus != 'PEND_TAKE_EFFECT'
        and proj.projStatus != 'CLOSED'
        and (proj.projReviewId is null or proj.projReviewStatus != 'PEND_TAKE_EFFECT')
        <include refid="cn.zswltech.mithras.CommonMapper.authSqlSpecial3" />
        group by proj.`key`
        ) t
    </select>
    <select id="clientRelatedProjEstablishCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM proj_establish_base_info p WHERE
        <!-- 项目立项未关闭 -->
        proj_establish_status != 'CLOSED'
        and proj_establish_status != 'EXPIRE'
        AND (client_id = #{clientId}
        OR transferor_client_id = #{clientId}
        OR JSON_CONTAINS(lessee_info, JSON_OBJECT('clientId', #{clientId}))
        OR JSON_CONTAINS(creditor_info, JSON_OBJECT('clientId', #{clientId}))
        OR JSON_CONTAINS(debtor_info, JSON_OBJECT('clientId', #{clientId}))
        OR JSON_CONTAINS(guarantee_info, JSON_OBJECT('clientId', #{clientId}))
        OR JSON_CONTAINS(pledgor_info, JSON_OBJECT('clientId', #{clientId}))
        OR JSON_CONTAINS(mortgagor_info, JSON_OBJECT('clientId', #{clientId}))
        )
    </select>
    <select id="clientRelatedProjEstablishLibCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM proj_establish_base_info_lib p WHERE
        <!-- 未关闭的立项 -->
        origin_id IN (SELECT id FROM proj_establish_base_info WHERE proj_establish_status != 'CLOSED' and proj_establish_status != 'EXPIRE')
        AND (client_id = #{clientId}
        OR transferor_client_id = #{clientId}
        OR JSON_CONTAINS(lessee_info, JSON_OBJECT('clientId', #{clientId}))
        OR JSON_CONTAINS(creditor_info, JSON_OBJECT('clientId', #{clientId}))
        OR JSON_CONTAINS(debtor_info, JSON_OBJECT('clientId', #{clientId}))
        OR JSON_CONTAINS(guarantee_info, JSON_OBJECT('clientId', #{clientId}))
        OR JSON_CONTAINS(pledgor_info, JSON_OBJECT('clientId', #{clientId}))
        OR JSON_CONTAINS(mortgagor_info, JSON_OBJECT('clientId', #{clientId}))
        )
    </select>
    <select id="listProjByAuthRole" resultType="cn.zswltech.mithras.service.mapper.model.projestablish.ProjEstablishBaseInfo">
        SELECT *
        from proj_establish_base_info
        WHERE proj_establish_status = 'TAKE_EFFECT'
          and (JSON_CONTAINS(lessee_info, JSON_OBJECT('clientId', #{clientId}))
            or
               JSON_CONTAINS(creditor_info, JSON_OBJECT('clientId', #{clientId}))
            or
               JSON_CONTAINS(debtor_info, JSON_OBJECT('clientId', #{clientId}))
            )
            order by id desc
        limit 1
    </select>


</mapper>
