<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.mithras.service.mapper.lib.projpricing.ProjPricingAocPriceLibMapper">

    <select id="listNewestPrice"
            resultType="cn.zswltech.mithras.service.mapper.model.projpricing.ProjPricingAocPriceLib">

        SELECT p.* FROM proj_pricing_aoc_price_lib p
        INNER JOIN (SELECT main_id AS project_id, MAX(version) AS version FROM common_version t1
        WHERE t1.module = 'PROJ_PRICING' AND t1.version_type = 1
        GROUP BY main_id) m ON p.project_id = m.project_id AND p.version = m.version
        <where>
            <if test="dto.projPricingIds != null and dto.projPricingIds.size() > 0">
                AND p.project_id IN
                <foreach collection="dto.projPricingIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>

    </select>

</mapper>
